[2016-03-10 05:42] lamarios commented on #374
Thanks a lot.

[2016-03-10 18:41] Roemy commented on #375
@stomp442 try the following maybe it'll help you.

edit: /etc/php5/cgi/php.ini

; Determines the size of the realpath cache to be used by PHP. This value should
; be increased on systems where PHP opens many files to reflect the quantity of
; the file operations performed.
; http://php.net/realpath-cache-size
realpath_cache_size = 16k **<---- Commend out these rules**

; Duration of time, in secon

[2016-03-10 23:44] stomp442 commented on #375
@Mcat12 @Roemy Sorry for the delay.

Before commenting on your suggestions, I have to say, that suddenly, it's working. Yesterday, I was messing around with the memory settings (not the lines to comment out), and bumped up my memory_limit to 512MBs. Saved the change, and basically threw up my hands and walked away.

This morning, I checked, and the dashboard was populated with information, and eve

[2016-03-11 09:37] Roemy opened #376 "[Web] Query Log messed up?"
On the AdminLTE page of the Pihole there is really a weird thing going on since yesterday.
I've changed nothing on the configuration on my part.

Query log is showing the following:

![image](https://cloud.githubusercontent.com/assets/9817180/13698407/2a2249c2-e774-11e5-904a-0484fb4d213c.png)

As you can see in the above screenshot is that the following dns names are being weirdly trimmed.
paypalo

[2016-03-11 09:51] ajp2k13 commented on #376
I noticed the same thing yesterday when running AdminLTE 1.1.4 and it was ok the day before as far as I know, didn't touch a thing. Updated to the latest but still the same...

[2016-03-11 12:01] Mcat12 commented on #376
A user on reddit had the same problem. On some machines, dnsmasq seems to not log the hostname of the device, and so everything is shifted left 1. [Link](https://www.reddit.com/r/pihole/comments/49t4hp/query_log_not_being_parsed_correctly/)

[2016-03-11 13:30] necrevistonnezr opened #377 "Uninstall script uinstalls PHP5 and all its dependencies without asking!"
##### Expected Behaviour:
The uninstall script (curl -L uninstall.pi-hole.net | bash) should only uninstall packages that have been newly added by the install script (curl -L install.pi-hole.net | bash).

##### Actual Behaviour:
The uninstall script actually uninstalled & purged php5 and all(!) its dependencies which left my other sites / project on Ubuntu in limbo!
(it should not make a differenc

[2016-03-11 17:03] Mcat12 commented on #377
The uninstall script needs to be reworked some, and I think adding some dialogs or console input would help.

[2016-03-11 17:09] Mcat12 commented on #377
There was a commit in a branch that was closed that might fix this. 5eff32f

[2016-03-11 18:12] Roemy commented on #376
Solution for anybody interested.

## Caution

**Step 1**
Open/Edit the following file /var/www/html/admin/data.php

**Step 2**
Search for the following line
`substr($exploded[5], 6, -1),`

**Step 3**
Change the following
[code]

To
[code]

**Step 4**
Save/Re-upload the file and goto your admin page and everything will be fine again.

[2016-03-11 18:16] #376 closed

[2016-03-11 18:45] AbsoZed opened #378 "Admin Console and API no longer showing statistics"
##### Expected Behaviour:
Expect graph and statistics to be shown on admin console page.

##### Actual Behaviour:
No statistics or graph shown on the admin console page, loads indefinitely. When queries log is clicked, the following error is thrown: DataTables warning: table id=all-queries - Ajax error. For more information about this error, please see http://datatables.net/tn/7

[2016-03-11 18:47] Roemy commented on #378
Hello @AbsoZed

Please check this issue [Ajax Error](https://github.com/pi-hole/pi-hole/issues/375)

[2016-03-11 19:04] AbsoZed commented on #378
Closed as duplicate of [](https://github.com/pi-hole/pi-hole/issues/375)

[2016-03-11 19:04] #378 closed

[2016-03-11 19:29] tkahn commented on #365
I found an error log in "var/log/lighttpd" and in the log, around the time when I experienced this error the log is full of messages with the same error:

`2016-03-05 20:32:50: (mod_fastcgi.c.2676) FastCGI-stderr: PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 24 bytes) in /var/www/html/admin/data.php on line 149`

...but when I access the page now, I get nic

[2016-03-11 20:20] Mcat12 commented on #365
It might be that the log file became too big for the methods used in the php. The log is cleared each day, so it might happen again. There are some fixes for this coming sometime.

[2016-03-11 23:36] necrevistonnezr commented on #377
Reworked "some" - yes, don't uninstall and price webserver basics like php in the first place, wtf

[2016-03-11 23:36] necrevistonnezr commented on #377
purge, not price

[2016-03-11 23:37] ChadBHowell commented on #377
@necrevistonnezr, feel free to code up a fix against the Devel branch and submit a pull request...

[2016-03-11 23:59] mobomelter opened #379 "Show Client DNS Names rather than IP"
I was just going through the program and it's awesome and works perfect.

Is there any plans to implement a way for the client IPs to show up as their DNS names instead in the GUI? I run a DNS server internally and with handing out Pi Hole via DHCP but only seeing client IPs it's a bit of a pain to figure out what client is what.

[2016-03-12 00:40] 0xc0ffea opened #380 "Inability to initiate Skype group chat and calls"
Skype needs to resolve the following 5 domains, if it can't then basic one on one skype works, group calls and group chats can not be initiated on Win10 PC behind pihole.

ui.skype.com
pricelist.skype.com
apps.skype.com
m.hotmail.com
s.gateway.messenger.live.com

more information here
http://community.skype.com/t5/Windows-desktop-client/Chats-not-working-Check-here/td-p/4276170
## <bountysource-pl

[2016-03-12 02:57] Mcat12 commented on #379
Yes, we have this and many other ideas floating around. We are preparing for a major code refactor (move global variables and common functions to separate files, etc) and so we will remember this for after that change.

[2016-03-12 03:00] mobomelter commented on #379
That would be awesome. You guys are great!

[2016-03-12 04:58] PromoFaux commented on #377
@necrevvistonnezr totally understand where you're coming from. To be fair, the uninstall script has been put of date for a long time now, and was never really meant for the mainstream. It was originally written when the intention for pi-hole was to be the sole use of a RPi, but obviously things have evolved.

I started some work on it a little while ago, and we will be merging that in, but it fell

[2016-03-12 10:56] Roemy commented on #365
@tkahn when opening the adminLTE page (Query Log) php will parse the file /var/log/pihole.log to read it's contents. Unfortunately when the file gets bigger and bigger php needs to work harder to open the log file, meaning the script needs more resources which in this case it's memory.

There is a simple way to deal with this issue by editing the following file: **/etc/php5/cgi/php.ini**

Find the

[2016-03-12 20:48] jacobsalmela opened #381 "Ads appear on tv.com even though they show as being blocked."
##### Expected Behaviour:
Ads on tv.com should be blocked and show as appearing on /etc/pihole/gravity.list in the log file.

##### Actual Behaviour:
Ads from googleadservices.com can still be seen even though the log file shows them as being blocked.
[code]

##### Steps to reproduce this issue:
Ads appear on this page: http://www.tv.com/search?q=game+of+thrones

<bountysource-plugin>
---
Want to

[2016-03-12 21:59] rotational467 commented on #380
Additionally, make sure that you whitelist the following:

sa.symbc.com
s1.symbc.com
thru
s5.symbc.com

These are Symantec's Certificate Revocation List servers and are used by a number of companies including MS.  Someone got overly aggressive in blocking Microsoft-related services in the past week somehwere upstream on the hosts lists and broke a bunch of stuff.

[2016-03-12 22:32] dschaper commented on #346
We don't have access to the internals of the OnHub (It's locked down proprietary firmware and all feature enhancements are via a G+ forum, no direct communication to developers is available.) Going to close this, as there is no way Google is going to assist us in blocking their revenue stream.

[2016-03-12 22:37] dschaper commented on #310
@jpsingleton Thanks for the pointer to CloudFlare, I had forgotten about their SSL options. I'll have to test it out to see how to integrate them, since they are (as I understand) a CDN and we would need them to not cache the pages but instead go direct to source. (I have them set up serving a static Jekyll page from GitHub Pages, but I haven't used them for dynamic content.)

If you have any poin

[2016-03-12 22:50] Verpz commented on #310
CloudFlare has extensive caching options, so you can disable caching all together or turn on caching for specific pages using page rules so you should be right :)

[2016-03-12 22:53] dschaper commented on #310
@Verpz Thanks, and @jacobsalmela I'll set up an account so that we can start up by moving the DNS over to CloudFlare if that sounds good to you, and then we'll proceed with the back end of WordPress once I have the Docker container set up. CentOS7 is on the VPS and Docker is installed. With the DNS under CloudFlare we'll have a little more flexibility with the domain and be able to enable DNSSEC f

[2016-03-13 02:19] jacobsalmela opened #382 "foxnews.com won't load"
##### Expected Behaviour:
The Website should load on iOS and OS X.

##### Actual Behaviour:
A blank page is loaded as well as a script.  Even after whitelisting the following domains:
[code]

##### Steps to reproduce this issue:
Existing install with default lists, foxnews.com will not load.

[2016-03-13 08:06] dschaper commented on #170
http://www.cambus.net/dnssec-validation-at-the-router-level-with-openwrt/

[2016-03-13 08:14] manuelgu commented on #382
Cannot reproduce. The page loads fine for me even without whitelisting any additional domains.

[2016-03-13 08:18] dschaper commented on #382
This seems to be limited to Mac OS platforms. Are you running on an iDevice?

[2016-03-13 10:11] manuelgu commented on #382
Can confirm what @dschaper said. It is working fine on Google Chrome on Linux Mint and Windows, not on an iPad though.

[2016-03-13 10:29] jpsingleton commented on #310
I don't think CloudFlare cache pages by default, only static assets. It would play havoc with dynamic sites otherwise. You get three page rules included with the free plan so you can customize this. There is also a development mode which turns off all caching.

They have a plug-in for WordPress which integrates CloudFlare with the local caching plug-in you're using. This takes care of clearing the

[2016-03-13 10:43] Verpz commented on #310
@jpsingleton I'm pretty sure dev mode only stays enabled for a couple of hours.

[2016-03-13 10:45] necrevistonnezr commented on #377
Since there's already a install.log (/etc/pihole/install.log), the uninstall script could just provide uninstallation for packages that the install script actually installed and ask for confirmation for such removal of newly added packages.

For sure, the current line `$SUDO apt-get -y remove --purge lighttpd php5-common php5-cgi php5` should be removed.

[2016-03-13 14:48] Fedora-Core commented on #381
**Quote:**
[code]

**?**
Has this [AAAA] log-entry been modified, before posting in this issue ?

**if**
This [AAAA] log-entry has NOT been modified.
**then**
What kind of IPv6 address is this, with non-hex characters ?
**else**
What are the results from an " IPv6 ping to www.googleadservices.com " when the Pi-hole is offline ?
Can it be "2404:6800:4008:c00::9a" ? { Source = [https://github.com/le

[2016-03-13 15:19] amerton commented on #273
@dschaper your 3rd of Feb msg.
I run an nginx server listening on 443 on same pi than pihole and have a self signed cert.
Occasionally I get a browser error on some sort of pihole filtered-out site. If I inspect the certificate the error report I see my own certificate.

[2016-03-13 15:20] Fedora-Core commented on #373
quote from dschaper :

**idea**
A new "pihole-config" script would solve many problems and issues.
Such a script could be run during install, and later, after the user has modified his OS settings.

Right now, the basic-install script is "monolithic". It could be broken down into "prepare FS and templates" - "install the deb packages" - "download the pihole stuff" - "call pihole-config" - "clean-u

[2016-03-13 15:24] stejoo commented on #380
If you want to add those with a single command, try this (run as user pi):

`sudo echo whitelist.sh ui.skype.com pricelist.skype.com apps.skype.com m.hotmail.com s.gateway.messenger.live.com sa.symcb.com s{1..5}.symcb.com`

[2016-03-13 15:26] dschaper commented on #381
Something is off, you can't have an IPv6 address like that. Are all of your IPv6 entries in `/etc/pihole/gravity.list` showing as that `32ej`? Can you re-run the install script if they are and see if that repairs the problem.

And there shouldn't be any correlation between IPv4 and IPv6 addresses. (The only possible correlation is with the MAC address, but most IPv6 implementations no longer use t

[2016-03-13 15:29] dschaper commented on #273
That's to be expected with the way the Pi-hole operates. It tells the browser to send advertisement requests back to the Pi-hole, and normally the http requests are handled by `lighttpd` and return the blank.gif if possible. If the ad is being served via https you normally would be a broken page icon as there is no server available for https traffic. You do have a server though running on that por

[2016-03-13 15:31] dschaper commented on #373
Yeah, we are getting things set up for a code refactoring and some process flow changes in a little bit. We want to make sure the current code base is stable and good before we tear it apart and rebuild it again! :lol:

[2016-03-13 18:52] Pukinator opened #383 "Chronometer shows 0 Queries (No graphs showing up and chronometer also not working)"
##### Actual Behaviour:
There are no graphs on the admin page. http://imgur.com/QT684t0 And chronometer shows zero queries. http://imgur.com/pm0gp8j The "Device was not found" error could be solved by editing chronometer.sh to enp0s25 instead of eth0

##### Steps to reproduce this issue:
I don't really know how to reproduce this. Pi Hole used to work normally, but I don't know why it isn't anymore

[2016-03-13 19:54] bukka1 commented on #382
Loading fine here with Safari on OS X 10.11.3

[2016-03-13 20:23] Mcat12 commented on #377
It would probably work better to separately log what new packages were installed.

[2016-03-14 12:59] jacobsalmela commented on #382
Sorry I meant to include that it seems to be just OS X and iOS that it doesn't work on.

[2016-03-14 19:32] rosskevin opened #384 "FAQ addition - root size full when starting with dd and raspbian-jessie.img"
- New installation from `-rwxr-xr-x  1 kross  staff   3.8G Feb 25 20:21 2016-02-26-raspbian-jessie.img` on a 32gb 3 B pi.
- Used `dd` method to create drive
- Installed pi-hole, seemed to go well
- Configured router etc
- Nothing blocked, nothing to be tailed following [troubleshooting](https://pi-hole.net/faq/how-do-i-troubleshoot-name-resolution-to-verify-ads-are-getting-blocked-and-queries-are-

[2016-03-14 20:11] Morlok8k commented on #380
FYI, Skype for Linux only needs `s.gateway.messenger.live.com` unblocked.  I ran into the same issue.

[2016-03-14 20:14] Morlok8k commented on #373
I too would like pi-hole to pull in the pi's hostname instead of `PiHole.IsWorking.OK`

i have two raspberry pi's running pi-hole. (they were normal caching dns servers before i tried pi-hole), so its messing with my router's hostname lookup functions a bit.  not a  a big deal, just a minor annoyance to me.

[2016-03-14 22:48] soehlert commented on #53
I think webbson is suggesting the piholes interface since they probably use it as I do...as an internal DNS server as well. So I can give my hosts inside my house domain names since dnsmasq is already running, why not? :)

[2016-03-14 22:58] dschaper commented on #53
@soehlert @webbson Do you want the ability to edit the `/etc/hosts` file or are you interested in the avahi daemon functionality?

[2016-03-15 02:59] rosskevin opened #385 "Return valid javascript instead of html stub for *.js (PR available)"
##### Expected Behaviour:
When js is blocked, return a valid js file (will mostly cleanup the log).  This will not totally prevent js errors, as functions will not be present for on-page scripts, but it will clean up a large majority of console errors.

##### Actual Behaviour:
An html stub is returned regardless of the media type

[code]

##### Steps to reproduce this issue:
Use pi-hole, visit any

[2016-03-15 03:39] rosskevin commented on #385
I prototyped this and it seems to clear up most as expected.

lighttpd.conf changed section:

[code]

/var/www/html/pihole/index.js

[code]

I think this is pretty safe and should have zero side effects (other than cleaning up the browser's console log)

[2016-03-15 10:55] ajp2k13 opened #387 "New URL to the Windows 10 blocklist"
##### Expected Behaviour:
New url with separate lists for blocking telemetry and windows update:
https://github.com/crazy-max/WindowsSpyBlocker

##### Actual Behaviour:
Old url in adlists.default: https://github.com/crazy-max/HostsWindowsBlocker

##### Steps to reproduce this issue:
Uncomment the Windows 10 telemetry entry and run gravity.sh

[2016-03-15 15:37] TechnicallyFox opened #388 "Admin recent queries page table not generating correctly"
##### Expected Behavior:
Admin page Query Log should display readable list of queries

##### Actual Behavior:
data is improperly formatted. Domain names are getting cut off and from client is not displaying at all.  This is happening when page is accessed from any device.
![screenshot-22](https://cloud.githubusercontent.com/assets/17700957/13783231/eacc3f1e-eaa0-11e5-89cf-13d47ebcbc7d.png)
Screen

[2016-03-15 16:24] Mcat12 commented on #388
This has been popping up recently for some reason. Some people's logs have their hostname in it, since don't. That means one type has an extra word in it. I'll work on a way to use the correct indexes by checking the length of the lines in the log.

[2016-03-15 18:59] soehlert commented on #53
I would like the ability to edit the hosts file.

[2016-03-16 08:33] TechnicallyFox commented on #388
Let me know if any files/data are needed for analyzing or testing.

[2016-03-16 08:38] dschaper commented on #388
Just an aside, thanks @TechnicallyFox for the Twitter work, I love it!

[2016-03-16 12:02] dschaper commented on #310
Thanks to everyone that contributed on this, it's ready to roll!

[2016-03-16 12:19] #310 closed

[2016-03-16 13:53] Fedora-Core commented on #385
An answer to a previous request by Jacob Salmela on his Blog-Site =>

[https://github.com/Fedora-Core/Pi-hole-adblock-webserver-script](url)

Greetings, F.C.

[2016-03-16 14:09] PromoFaux commented on #385
FC, that's a dead link!

[2016-03-16 14:21] kmr2319 commented on #382
@jacobsalmela  So you're going to fix it so it's blocked on all platforms? :wink:

Sorry... I had to. It was just too easy. :smiley:

[2016-03-16 14:22] kmr2319 commented on #379
:+1:

I would like this feature as well. Thanks for thinking about it!!!

[2016-03-16 14:48] jacobsalmela commented on #382
Haha.  That's the plan!

@bukka1 could you try emptying your browser cache and DNS cache from within OS X: `sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder` and then try again?  Just to rule out any caching issues?

[2016-03-16 14:52] badmark commented on #388
Can confirm. Error occurring on both a Raspberry Pi and a C.H.I.P. running Pi-Hole.

[2016-03-16 16:14] Roemy commented on #388
See my issue and temp "solution" here: [Query Log](https://github.com/pi-hole/pi-hole/issues/376)

[2016-03-16 16:17] #383 closed

[2016-03-16 16:17] badmark commented on #388
Worked like a charm. Fun with strings and sub-strings! Thanks Roemy.

[2016-03-16 17:31] TechnicallyFox commented on #388
Thanks, worked to make data readable again.  However the steps in https://github.com/pi-hole/pi-hole/issues/376 produce data still a little bit off vs what was provided in the redit https://www.reddit.com/r/pihole/comments/49t4hp/query_log_not_being_parsed_correctly/ which seemed to work perfectly for me.

`   substr($exploded[5], 0),
                $exploded[6],
                $exploded[7],`

P

[2016-03-16 17:55] Roemy commented on #388
Indeed you're right, i've missed that part. I'll change my solution ;)

[2016-03-17 00:42] Mcat12 commented on #376
This should be fixed [here](https://github.com/pi-hole/AdminLTE/pull/62)

[2016-03-17 03:13] gh0stshell opened #390 "Report: Pi 3 Pi-Hole"
Just wanted to report that my new Pi 3 running Pi-hole is working wonderfully even while running 64-bit OS. No issues to report other then what is already opening and not regarding new hardware or OS.

[2016-03-17 10:58] Mcat12 commented on #390
Nice! When I saw this, I was thinking "oh no! I don't have a pi3 to trouble shoot this new issue!" Good thing everything's working fine! :D

[2016-03-17 11:00] dschaper commented on #390
Lol, I like all of you, but I stop at the free Zero's... I actually just picked up a Pi 3 today...

[2016-03-17 11:38] Bruut8 commented on #364
Signing in to report the same error on my setup:

Netgear r6250 router,  stock firmware
Pi2 with dietpi running only pihole as dns
Pc, Windows 7 with spotify desktop

When setting the dns on the router to the internal pi adress,  everything runs great,  less adds! BUT spotify stops working.
The moment I let the router use the standard dns servers everything is  fine..

I'd love to debug but will n

[2016-03-17 11:39] dschaper commented on #364
Okay, keep the issue in mind, and when you are at a place where you can help us debug we can re-open the issue and take a look...

[2016-03-17 12:40] PromoFaux commented on #390
My Pi3 has been sitting doing this whilst I've been away:
![image](https://cloud.githubusercontent.com/assets/1998970/13846182/36239afa-ec3d-11e5-9b0f-7afcaa060f2a.png)

[2016-03-18 15:28] realslacker opened #391 "StevenBlack list blocking Windows internet connection detection, causes Windows 10 (others?) to report that there is no internet connection"
##### Expected Behaviour:
Computers connect to network with PiHole do not show an error message saying there is no internet connection.

##### Actual Behaviour:
Network connection icon in system tray shows error message and exclamation mark. Windows reports that you need to open a browser to login to the network.

##### Steps to reproduce this issue:
Install PiHole, set as DNS, restart Windows 10

[2016-03-18 15:37] PromoFaux commented on #391
Hi @realslacker , thanks for your input.

[this is actually an FAQ in the wiki](https://github.com/pi-hole/pi-hole/wiki/FAQs#windows-thinks-there-is-no-internet-connection-but-there-is-one-315), as it's come up a few times. I'll leave it open for now, however, as it will make the fix easier to find for those scanning the issues..

[2016-03-18 15:41] realslacker commented on #391
Ah, sorry @PromoFaux  I did not see that... I think my google-fu is lacking!

Have you guys considered adding it to the default whitelist?

[2016-03-18 16:04] PromoFaux commented on #391
This is something we're trying to avoid.. If we whitelist one seemingly benign site as default, what's to say we're not going to add a malicious site to that whitelist? What if ad-company x paid us handsomely to whitelist their site by default? Would we do it? No, we certainly wouldn't! So it's better for our reputation in the long run to say that we just wont whitelist any sites.

[2016-03-18 18:05] kmr2319 commented on #390
@gh0stshell

What 64 bit OS are you running on the Pi 3? I thought there wasn't a suitable kernel yet??

[2016-03-18 18:12] realslacker commented on #391
That makes sense, thanks!

[2016-03-18 18:12] #391 closed

[2016-03-18 20:21] colemannugent commented on #382
I've had the exact same issue with foxnews.com. Whitelisting fixed it for a while, but every couple days it will be blocked again. I've been re-running `gravity.sh` and restarting dnsmasq with `sudo service dnsmasq restart` and that seems to fix this at least temporarily.

This seems to be independent of OS caching, as I've had this issue on Windows (7 & 10), and Linux (Ubuntu 15.10)

[2016-03-18 20:47] dschaper commented on #382
Okay, I got a RasPi 2B on the client network, I'll set if I can figure out Mac networking well enough to see if I can run a few tests when I'm back on site in a few...

[2016-03-18 21:04] bukka1 commented on #382
@jacobsalmela flushed, still working for me.

[2016-03-20 12:19] eseglem commented on #384
I ran into this the other day as well. I forgot to expand the partition before installing. It did give me a warning / error about being out of disk space, but it was a few lines up from the bottom. Making that error more obvious / fatal would probably be a good thing.

[2016-03-20 13:21] PromoFaux commented on #384
Hmmm, that is interesting. We actually [check](https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L119) for free disk space before installing...

[2016-03-20 13:22] PromoFaux commented on #384
Actually.. ha! Looks like an input error.. missing a couple of zeros. We're supposed to be checking for 50Mb free... not 0.5Mb..! I'll make that change now... !

[2016-03-20 19:52] nate-ubiquisoft commented on #384
Haha glad I could help!

On Sun, Mar 20, 2016 at 8:26 AM Adam Warner <notifications@github.com>
wrote:

[2016-03-20 20:53] PromoFaux commented on #384
No, maybe not. The number was correct, had a bit of a scatty moment with numbers there.

51200 blocks of 1k (as per output of `df -lk`) is 51.2MB, which should be plenty of space.

@rosskevin @eseglem , did you add in any additional lists before expanding, for example mahakala?

[2016-03-20 21:35] rosskevin commented on #384
I did exactly as stated, nothing else.

[2016-03-20 21:54] graycrow opened #395 "[Insufficient free space] - incorrect interpretation of df -lk output. Won't install on FS with less than 4.77GB available."
I have a Raspberry Pi 2  with latest Raspbian Jessie Lite version installed on 8GB card. The card has ~3.5GB available:
[code]
However, pi-hole install script exits with following error message:
[code]
I checked installer script and found that it's using `df -lk` command to check for free space.
[code]
and a actual command used by script gives this output:
[code]
Which means that I have 3632740 1-

[2016-03-20 22:03] graycrow commented on #384
@PromoFaux: something wrong with that numbers: #395

[2016-03-20 22:12] graycrow commented on #395
If it really needs to be 50MB, then requiredFreeBytes should be **51200**, and probably it's better to rename it to requiredFree**K**Bytes, to avoid confusion.

[2016-03-20 22:16] graycrow commented on #395
Oh, that already has been done, closing this issue.

[2016-03-20 22:16] #395 closed

[2016-03-20 22:31] PromoFaux commented on #395
Yeah, I had a bit of a blonde moment earlier on, didn't realise it was in 1k blocks :)

[2016-03-20 22:32] PromoFaux commented on #395
this though, good idea.

[2016-03-20 22:35] PromoFaux commented on #384
@rosskevin Thanks for the feedback. Just trying to rule out extras, as it should have warned you if there was less than 51.2MB of  free space and asked you to run `raspi-config` to expand the filesystem...

[2016-03-21 01:05] meaverick commented on #376
Thanks. it fixed.

[2016-03-21 19:19] Palmer11 commented on #390
I've been running it on the rpi3 for nearly a week I think now. No issues. Much better performance with the /admin panel. Data is retrieved almost instantaneously compared to the b+ taking several seconds.

[2016-03-23 19:30] PhantomGhost opened #396 "Getting "curl: (7) Couldn't connect to server" while testing."
I was testing a new install of Pi-Hole, just wanted to make sure all was working well, and I got to this step:
From one of your devices configured to use the Pi-hole, run this command:

curl -I doubleclick.com

this should return the header from the Pi-hole Web server, which contains a line like this:

HTTP/1.1 200 OK
X-Pi-hole: A black hole for Internet advertisements.
Expires: Sat, 10 Oct 2015 2

[2016-03-23 19:45] SudoHenk commented on #230
@dschaper I'm running my own DNS-blocking mechanism and I can confirm that these kind of videos are in fact served from the same servers as YouTube videos (just as @PromoFaux mentioned).

There is basicly no way to block these on a network level, right? YouTube keeps serving me these videos because they know I'm not watching the ads.

[2016-03-23 19:49] dschaper commented on #230
YouTube blocking has been a long term goal. It's difficult to block using a
DNS blocker since the domains look the same. Hard to differentiate ad vs
legit bid.

Dan Schaper via GS3
Ganymeade Systems
On Mar 23, 2016 12:45 PM, "Open Internet + Self-hosted + Coffee" <
notifications@github.com> wrote:

[2016-03-23 19:51] nate-ubiquisoft commented on #230
I will do some wireshark testing tonight to see if there is a specific endpoint that youtube uses for the ad-specific videos that could be blocked by pi-hole. This would still not be a complete fix as the "video" would still play, but just as a black screen during the skip/finished playing timeout before the requested video begins.

[2016-03-23 20:25] SudoHenk commented on #230
@nate-ubiquisoft you mean that the "promo" videos will play as a black screen?

I'm succesfully blocking the original ads, without them playing at all with a DNS block. This is what pi-hole does too right?

[2016-03-23 20:33] jacobsalmela commented on #230
I was thinking we could write a lighttpd rule for these similar to how we do it for the admin page now.  But it will be a matter of finding out the URLs being requested.

[2016-03-23 21:13] SudoHenk opened #397 "How to set DNS settings for Chromecast"
How can you enforce the usage of pi-hole on your chromecast? To my knowledge you cannot set those settings, and you also need to block the Google DNS servers before they will start using the local.

Also, under what license is this project available? Could not find this anywhere.

[2016-03-23 21:22] nate-ubiquisoft commented on #230
@jacobsalmela I can find those out tonight and reply back here with them. I will also start a new branch on my fork for the lighttpd rules and begin testing that. I am running my current master branch with the debugging enabled without error since I submitted the pull request if you guys want to merge that and close out the roadmap item.

[2016-03-23 22:50] nate-ubiquisoft commented on #230
Okay so looking at the [following video](https://www.youtube.com/watch?v=nIVU6W3EDcU), @SudoHenk , I see that youtube is loading internal ads from www.youtube.com/stats/api/ads* which I blacklisted on my local PiHole. Can you send the video link that you are seeing the ads on? (Don't worry, I wont judge XD). You can test yourself as well by running `blacklist.sh www.youtube.com/api/stats/ads`

[2016-03-23 23:38] nate-ubiquisoft commented on #396
@PhantomGhost could you do me a favor and do the following:
`wget https://raw.githubusercontent.com/nate-ubiquisoft/pi-hole/master/advanced/Scripts/piholeDebug.sh` (This will get my *hopefully* soon to be merged debugging script for PiHole)
`chmod +x piholeDebug.sh`
Then run `./piholeDebug.sh` and try to load doubleclick.com in your browser while the script is running. After the page loads/doesnt

[2016-03-23 23:53] PromoFaux commented on #230
@nate-ubiquisoft I was under the impression dnsmasq could only block as far as the tld... Are you seeing those requests successfully blocked?

[2016-03-23 23:59] PromoFaux commented on #230
In fact I'm quite certain on that.  You can only block host names,  not `/directory`  or `/file`.

E.g you could block `news.somesite.com` but not 'somesite.com/news`

[2016-03-24 00:04] PromoFaux commented on #397
Check this [response] (https://www.reddit.com/r/pihole/comments/4be0jk/slug/d1aa0iy)  to a similar request on reddit.

You can do it,  but you need to block Google dns like you say,  and make sure you are using different ones for your pihole's upstream

[2016-03-24 00:08] PromoFaux commented on #397
Re:licence , we use [Gnu v2](https://github.com/pi-hole/pi-hole/blob/master/LICENSE)  which is in the file `Licence' in the root directory....

[2016-03-24 00:51] PhantomGhost commented on #396
Here you go. When trying to browse to doubleclick.com, I just get the usual page not found error. Looking in that log, it looks like its catching it, just...not redirecting to the web server? Kinda looks like its just dropping the connection all together.
[pihole_debug.txt](https://github.com/pi-hole/pi-hole/files/187088/pihole_debug.txt)

[2016-03-24 00:59] le0nard0 opened #398 "Blocking Google Analytics Site"
##### Expected Behaviour:
I should be able to log into Google Analytics.

##### Actual Behaviour:
When I go to https://analytics.google.com and login my request gets refused. https://www.dropbox.com/s/7sbv74iusbg2uiu/Screenshot%202016-03-21%2022.49.58.png?dl=0

##### Steps to reproduce this issue:
Not sure. Just noticed the issue. I will try sudo apt-get update/upgrade on my pi.

[2016-03-24 04:20] nate-ubiquisoft commented on #396
I see here that you dont have a valid adlist file.
`############### adlists.list ###############
No adlists.list file found!
`
I suspect this might be what the root cause of your issue may be. Run the installer script, `curl -L install.pi-hole.net | bash`, and it will update. Check the installer log file to see if it had any issue connecting to the adlists.list sources.
And as always, make sure to

[2016-03-24 04:30] nate-ubiquisoft commented on #230
Yes my mistake I was under the impression dnsmasq could take subsites. Been spending too much time with Spring security recently XD. I am currently working on getting the lighttpd setting idea that @jacobsalmela mentioned earlier.

[2016-03-24 04:31] Mcat12 commented on #396
That actually is the default behavior. adlist.default stores the default lists, with adlist.list being the custom lists. That file is not created by default, hence the file missing error.

[2016-03-24 04:48] nate-ubiquisoft commented on #396
Oh right I confused that with gravity.list, my bad.
@PhantomGhost, what is the output of `hostname`? Have you changed the default one on your system? Your /etc/hosts file shows it as raspberrypi.

[2016-03-24 05:20] dschaper commented on #398
May have to whitelist that site. Pretty sure its on a block list.

Dan Schaper via GS3
Ganymeade Systems
On Mar 23, 2016 5:59 PM, "le0nard0" <notifications@github.com> wrote:

[2016-03-24 05:25] dschaper commented on #397
Yep, its licensed as GPL 2+

Dan Schaper via GS3
Ganymeade Systems
On Mar 23, 2016 5:08 PM, "Adam Warner" <notifications@github.com> wrote:

[2016-03-24 09:27] manuelgu commented on #398
I can confirm that whitelisting `analytics.google.com` solves the issue.

[2016-03-24 09:38] PromoFaux commented on #398
Heh, I wonder how your stats on Google Analytics are affected by people having Google Analytics blocked....

@le0nard0 is this issue resolved?

[2016-03-24 10:18] PromoFaux commented on #387
Thanks for this,

This will be fixed in the next release!

[2016-03-24 10:18] #387 closed

[2016-03-24 11:06] jpsingleton commented on #310
Nice. You should probably update the URLs on https://pi-hole.net too.

**P.S.** I don't know what plugin/theme added a pre-loader to WordPress but it's really slowing your site down. Maybe you should consider a static page.

[2016-03-24 11:52] DonLexos commented on #398
Yes as @manuelgu mentioned you need to whitelist `analytics.google.com` by running `whitelist.sh analytics.google.com`

[2016-03-24 12:31] PhantomGhost commented on #396
I hadn't before, kinda forgot to, I normally use DHCP for everything and just reserve the IP, but Pi-Hole forced me to use static, after I did that, I reserved it anyway and changed the host name on my pfsense DNS for it, but never changed the actual host name. I just changed it to match (in /etc/hostname and /etc/hosts), and also did an update, but still have the same problem.

[2016-03-24 13:45] PromoFaux commented on #396
Hmm, that's interesting.

@PhantomGhost  Try this:

Add the line `ad blocked by pi-hole!` (or something similar) to the `<body>` element in  `/var/www/html/pihole/index.html`

Then, on your client machine, navigate to `http://doubclick.com` in your browser. If everything is working correctly, you will see `ad blocked by pi-hole!`

[2016-03-24 14:36] PhantomGhost commented on #396
Nope, I still get a page cannot be displayed message, specifically "ERR_NAME_NOT_RESOLVED" in Chrome. The Pi is catching it, but not redirecting like it should be. I did try navigating straight to the Pi's web server, just to make sure its working, and I get a white page with the message I added to the body of index.html, so it looks like the web server is functioning fine, just something is faili

[2016-03-24 14:48] PromoFaux commented on #396
OK, could you paste the output of `cat /etc/lighttpd/lighttpd.conf` please.

[2016-03-24 14:50] PhantomGhost commented on #396
I was just looking through that file...

`pi@Pi-Hole:~ $ cat /etc/lighttpd/lighttpd.conf
# Pi-hole: A black hole for Internet advertisements
# (c) 2015, 2016 by Jacob Salmela
# Network-wide ad blocking via your Raspberry Pi
# http://pi-hole.net
# lighttpd config for Pi-hole
#
# Pi-hole is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as

[2016-03-24 14:55] PromoFaux commented on #396
OK, that looks OK. I'll get back to scratching my head...

[2016-03-24 15:34] PhantomGhost commented on #396
Should I just try wiping the Pi and starting fresh? I mean I don't know what could have caused it to fail, but if it normally works fine for everyone else, maybe something got screwed up in the install and I never noticed an error message...

[2016-03-24 15:38] PromoFaux commented on #396
If it's not too much trouble, it's always worth a shot! If it still happens, then we can rule out the pi-hole and maybe troubleshoot other aspects of your network.

[2016-03-24 15:58] nate-ubiquisoft commented on #396
Are you running the full Raspbian install or the lite? I am using the lite
simply because it is easy to flash repeatedly if necessary. Apt-get for the
win.

On Thu, Mar 24, 2016 at 10:38 AM Adam Warner <notifications@github.com>
wrote:

[2016-03-24 16:04] PhantomGhost commented on #396
Actually I am on the lite, are there any other packages I need to install before I install Pi-Hole on the lite image? I didn't even think about that.

[2016-03-24 16:05] NHgranite opened #399 "Spotify Premium being blocked by v2.5.3"
##### Expected Behaviour:  music service to stream music.

##### Actual Behaviour:  Spotify placed into off-line mode.

##### Steps to reproduce this issue:  Tried following previous trouble-shooting steps, with no success.  New suggestions?

[2016-03-24 16:06] Mcat12 commented on #396
Nope, just remember to expand root.

[2016-03-24 16:11] PromoFaux commented on #396
@PhantomGhost The install script takes care of any dependant packages it needs, so once you've flashed the SD card, make sure the first thing you do is run `raspi-config` to expand the filesystem/change the password etc.

[2016-03-24 16:13] Palmer11 commented on #399
Tail the log file and add the routes to your whitelist.

[2016-03-24 16:13] PromoFaux commented on #399
Hi there,

What platform are you running spotify on?

[2016-03-24 16:30] nate-ubiquisoft commented on #396
Also make sure to run sudo apt-get update and sudo apt-get upgrade after
expanding the fs and before installing pihole to ensure you are up to date.
Also, if you change your hostname, make sure to do it with hostname-ctl
set-hostname <newhostname> then also vim /etc/hosts and
:%s/raspberrypi/<newhostname/g to replace the old hostname with your new
one and reboot.

On Thu, Mar 24, 2016 at 11:11 AM

[2016-03-24 16:30] nate-ubiquisoft commented on #399
I have spotify premium and I can stream it fine from all my devices (PC, OSX, iOS, Android).

[2016-03-24 16:33] PromoFaux commented on #396
Taken care of by the install script! Which also advises on whether or not to run `apt-get upgrade` (though in the case of a fresh install, it certainly will need to run!) But yeah, that was implemented in case people forgot to run `apt-get update`

[2016-03-24 16:37] PromoFaux commented on #399
@nate-ubiquisoft , did you have to add anything to the whitelist?

The guy that had the issue before (#364 by @zimmertr) was running it on Arch-linux, I'm wondering if it's also the case with @NHgranite

[2016-03-24 16:41] nate-ubiquisoft commented on #396
Yea I saw that when I was going though the install script however it simply
checks for updates but doesnt apply them, rather it prompts the user to run
it after installation but making sure all core packages are up-to-date
before install can rule out any system package issues causing an
installation problem with PiHole.
On another note, if you are reinstalling PiHole on a device that already
had i

[2016-03-24 16:42] PromoFaux commented on #396
You know, thinking about that. I'm not sure why the script doesn't exit there and advise user to run upgrade. There were issues with just running upgrade at that point in the script, which is why it's an advise for the user to run it manually.

[2016-03-24 16:43] zimmertr commented on #399
Another person is having the issue and commented on my Reddit thread as well. I asked him in the comments and via a private message to add his information to the bug report but it doesn't look like he has.

https://www.reddit.com/r/pihole/comments/48yvya/enabling_pihole_puts_spotify_in_offline_mode/d17v8wn

[2016-03-24 16:44] zimmertr commented on #399
There is also an additional person who commented in #364 saying they we're having an issue too. That makes at least 4 of us now.

[2016-03-24 16:48] nate-ubiquisoft commented on #399
@PromoFaux I haven't added anything to my whitelist as of current because I am testing some local changes but I have not run into any issues with Spotify premium. I would put money on it being an arch-linux issue however because it has a newer version of dnsmasq (2.75-1) wheras raspbian dnsmasq (2.72).

[2016-03-24 16:52] nate-ubiquisoft commented on #399
Notably I see [here](http://www.thekelleys.org.uk/dnsmasq/CHANGELOG) that inotify has been implemented in 2.73 with modifications in 2.74 which change how /etc/resolv.conf is processed. Not sure if this would cause the Spotify problems though. @zimmertr do you see any other issues with the pihole?

[2016-03-24 16:52] PhantomGhost commented on #396
Alright, freshly imaged the Pi with raspbian lite, after first boot I expanded the file system, changed password and hostname (all using raspi-config), rebooted, ran apt-get update and upgrade (only found 2 packages to upgrade). Now I'm trying the Pi-Hole install again. So lets see what happens. (Note: Remember to change DNS server back to a public one before taking down the Pi-Hole...)

[2016-03-24 16:53] PromoFaux commented on #399
@zimmertr is there any chance you could try downgrading your dnsmasq package on your arch machine to see if that solves it?  Gotta be worth a punt...

As to how you'd do that, I have no idea!  Although [this link may help with that](https://wiki.archlinux.org/index.php/downgrading_packages)

[2016-03-24 16:54] zimmertr commented on #399
I have not. Spotify doesn't work on my laptop nor desktop. Which both run Arch. It works fine on my android phone. Disabling pihole allows spotify to work on the arch installs as well.

[2016-03-24 16:54] zimmertr commented on #399
I can try. Too busy right now. Will get back to you later with an update.

[2016-03-24 17:01] nate-ubiquisoft commented on #399
I was under the impression you have arch-linux installed on your Pi @zimmertr. Is that true?

[2016-03-24 17:02] dschaper commented on #399
It seems like the common thread on these is Arch and Pi-hole. Is there something in the PKGBUILD that is throwing the install?

[2016-03-24 17:04] zimmertr commented on #399
I do not have Arch on my Pi. I poorly worded by OP in #364 since it confused @dschaper too. It is running Raspbian.

[2016-03-24 17:04] dschaper commented on #399
@nate-ubiquisoft I have a pastebin of the errors that are thrown when Arch starts up Spotify. I think the package is built with a deb and deconstructed to merge together an Arch package...

[2016-03-24 17:06] zimmertr commented on #399
That's exactly how it's done. The AUR lists the .deb files as the sources.

https://aur.archlinux.org/packages/spotify/?comments=all

[2016-03-24 17:08] nate-ubiquisoft commented on #396
Are you using ipv4 and ipv6 blocking? Can you hit the admin page? @PhantomGhost

[2016-03-24 17:12] nate-ubiquisoft commented on #399
@dschaper can you paste the link to your pastebin with the errors?
@zimmertr Are you setting your pihole as the dns on your router or individually on each device? I bet you need to modify your local machine /etc/hosts to include your pihole IP (DNS IP) and the pihole hostname.

[2016-03-24 17:20] dschaper commented on #399
@nate-ubiquisoft Here you go: http://pastebin.com/1WbNuQmA

[2016-03-24 17:24] zimmertr commented on #399
PiHole as set as the DNS on both my router and by devices. It's set redundantly.

I added the the Pi to my DNS on my Arch install but it didn't resolve the issue.

192.168.1.2	mercury.localdomain	Mercury

[2016-03-24 17:37] PhantomGhost commented on #396
Just ipv4, I don't use ipv6 on my network at all, its disabled. And yes, admin page works just fine. I can see it updating and showing ads being blocked.

[2016-03-24 17:45] nate-ubiquisoft commented on #399
Can you do the following @zimmertr?
Install libcurl-compat, lib32-openssl, openssl to the latest version as Spotify needs those packages.

[2016-03-24 17:45] nate-ubiquisoft commented on #396
@PhantomGhost can you paste the pihole_debug.log file?

[2016-03-24 18:09] PromoFaux commented on #399
Ignore my suggestion to downgrade dnsmasq! I went a bit wrong there,  it won't make a difference on your client machine

[2016-03-24 18:11] PhantomGhost commented on #396
[pihole_debug.txt](https://github.com/pi-hole/pi-hole/files/188377/pihole_debug.txt)

There you go.

[2016-03-24 18:17] nate-ubiquisoft commented on #396
@PhantomGhost Thanks! What is the output of `hostname` on your system?

[2016-03-24 18:17] PhantomGhost commented on #396
pi@Pi-Hole:/var/log $ hostname
Pi-Hole

[2016-03-24 18:18] dschaper commented on #396
Does the debug log grab the configuration of `/etc/dnsmasq.d/01-pihole.conf`?

[2016-03-24 18:19] nate-ubiquisoft commented on #396
@PhantomGhost How are you setting 172.21.1.29 as the IP of Pi-Hole? Is it a static IP setup on Pi-Hole or a DHCP allocation from your router? If DHCP, is it a permanent allocation (i.e. is the DHCP locked for this Pi-Hole)?

[2016-03-24 18:19] dschaper commented on #396
Sorry, didn't see that it was below the pull of the log. Should probably adjust that...

[2016-03-24 18:21] PhantomGhost commented on #396
@nate-ubiquisoft It is both, actually. Reserved on the router (outside the DHCP pool) and also set statically on the Pi. Its reserved by Mac, so the new install pulled the same IP as last time, and I told the Pi-Hole installer to use that as the static IP.

[2016-03-24 18:29] nate-ubiquisoft commented on #396
@dschaper I will rearrange the logging to put that up with the dnsmasq.conf file. I also have added additional logging for system settings but have not commited them yet as I want to test them when I get home tonight.

[2016-03-24 18:30] nate-ubiquisoft commented on #396
@PhantomGhost Okay hmm... I was thinking that another device on your network might have the same IP which would could consume the forwarding request rather than the pihole lighttpd.

[2016-03-24 18:31] nate-ubiquisoft commented on #396
@dschaper I also have the logging removing all comments from the config files to make it a little smaller debug.log file as well as making it easier to read through quickly.

[2016-03-24 18:32] PhantomGhost commented on #396
@nate-ubiquisoft Nope, there's nothing else with that IP, and the logs show the Pi is receiving the request, it just isn't redirecting it...

[2016-03-24 18:51] PhantomGhost commented on #396
Alright, do any of your guys use pfsense? I'm just looking around trying to figure this out, and on pfsense is a dnslookup lookup diagnostic page...and that works. If I look up doubleclick.com from that page, it returns with the Pi's address. So...if the router can get the redirected IP, why wouldn't the clients get that?

[2016-03-24 18:54] dschaper commented on #396
Actually in the middle of installing a PFSense box at a client location right now. (Though we probably are going to pull and go RouterOS and dedicate Microtik hardware in a bit...) Can you dig/drill from the CLI on the PFSense box and get back the Pi address?

[2016-03-24 18:55] nate-ubiquisoft commented on #396
@PhantomGhost Run the following and paste the output here.
`nslookup doubleclick.com`
`nslookup doubleclick.com 8.8.8.8`
This will do the nslookup from your local machine against your local DNS (Pi-Hole) and against Google's nameservers.

[2016-03-24 19:00] PhantomGhost commented on #396
Alright, well, that got an interesting result. Below is what Windows returns. Linux and OS X both return "Can't find doubleclick.com: No answer"

H:\>nslookup doubleclick.com
Server:  ghostnet.main.ghost.local
Address:  172.21.1.1

Name:    doubleclick.com
Address:  2607:f8b0:4002:802::200e

H:\>nslookup doubleclick.com 8.8.8.8
Server:  google-public-dns-a.google.com
Address:  8.8.8.8

Non-authori

[2016-03-24 19:11] nate-ubiquisoft commented on #396
@PhantomGhost Ahhhh that helps A LOT! (That is going to be added to my debug script in a future release #394) I see that your `nslookup doubleclick.com` against your DNS returns only the ipv6 address, not the ipv4. As well, it seems to be using 172.21.1.1 as your DNS, not 172.21.1.29 as your Pi-Hole is configured to use. That would make sense if you are setting it on your router which I am assumin

[2016-03-24 19:12] PhantomGhost commented on #396
Alright, well, believe I figured it out...turns out it was pfsense the whole time. Sorry guys, and thanks for all the help! In the future though, if someone else has this problem, have them look for a setting similar to:
Disable DNS Rebinding Checks
And turn that on (which disables it). That setting has this description:
"When this is unchecked, your system is protected against DNS Rebinding attac

[2016-03-24 19:14] nate-ubiquisoft commented on #399
@zimmertr @PromoFaux I dont have an arch-linux install setup atm. Do you guys have the packages I mentioned to @zimmertr above installed? Spotify uses those to setup the initial network connection when navigating a subnet to Spotify's API. I think this is more of a Spotify issue on arch-linux than an issue with Pi-Hole, but one of the Spotify endpoints MAY need to be whitelisted, however I have no

[2016-03-24 19:14] dschaper commented on #396
Yeah, Rebind will bite you in the backside everytime... Thanks for pointing out that PFSense does a reverse on the toggle for rebinds... May need to add that to the FAQs...

[2016-03-24 19:15] dschaper commented on #399
Let me check, Arch is up on my end...

[2016-03-24 19:16] PhantomGhost commented on #396
Yeah, and its defaults to on (well, unchecked), so anyone that sets this up with pfsense will have issues!

I really appreciate everyones help by the way, thanks a lot!

[2016-03-24 19:16] nate-ubiquisoft commented on #396
Good catch @PhantomGhost! I am going to add a check for pfsense installation to the installer script and set that flag to ON if it is installed.

[2016-03-24 19:20] nate-ubiquisoft commented on #396
@PhantomGhost Good catch!

[2016-03-24 19:23] dschaper commented on #399
```libcurl-compat, lib32-openssl, openssl``` not present in a `pacman -Qe`. Will install and recheck.

[2016-03-24 19:26] PhantomGhost commented on #396
@nate-ubiquisoft One quick question if you don't mind though, and this should be an easy one...how can I get the admin console to display local times instead of UTC?

[2016-03-24 19:28] PromoFaux commented on #396
Of course it was remind protection!!  Can't believe none of us thought if that,  it's come up before!

[2016-03-24 19:29] PromoFaux commented on #399
I don't have an arch setup..  I started to install once,  and then my head imploded and I gave up!

[2016-03-24 19:31] dschaper commented on #399
Running a pacman -Syua first and then adding the packages, then I'll drop a paste, hopefully the errors at the top of the startup process go away. (But I wasn't able to replicate the problem, I always was able to access without any issues on a stock Arch install.)

@PromoFaux I'll put a VirtualBox image up on my OneDrive for you if you'd like...

[2016-03-24 19:39] nate-ubiquisoft commented on #396
@PhantomGhost Do you have your Pi-Hole set to your timezone? `sudo raspi-config` under Localization has an option to set your timezone. Reboot your Pi after just to ensure the change is applied.

[2016-03-24 19:42] dschaper commented on #399
Sorry taking so long, on site and in via ssh while doing other things... Need to get yaourt installed real quick...

[2016-03-24 19:46] PhantomGhost commented on #396
@nate-ubiquisoft Tried that first...its set correctly, but the graph on the admin console is still UTC...

[2016-03-24 20:12] dschaper commented on #399
Still getting library errors... Digging to see if I can find more dependencies.... (Depo Hell...)

[2016-03-24 20:17] dschaper commented on #399
I'm not getting anything new, same dependency errors. I'm compressing up the VDI into a 7z and will post it up to my OneDrive for you guys to try if you'd like...

[2016-03-24 20:35] PromoFaux commented on #396
Err,  that should have been fixed a while back...  Do the dates and times look OK in pihole.log?

[2016-03-24 21:04] PhantomGhost commented on #396
It gets corrected half way through the log, when I changed the timezone.

[2016-03-24 21:23] PromoFaux commented on #396
Ah! OK, that might be the source of this issue. Flush the logs (`piholeLogFlush.sh`) and wait for it to build up again

[2016-03-24 21:45] PromoFaux commented on #397
Hi @SudoHenk did that answer your question?

[2016-03-24 21:47] PromoFaux commented on #396
Closing this for now, feel free to continue discussion.

[2016-03-24 21:47] #396 closed

[2016-03-24 21:47] #390 closed

[2016-03-24 21:48] PromoFaux commented on #388
@Mcat12 is this now fixed in the latest release of WebAdmin?

[2016-03-24 21:53] PromoFaux commented on #385
OK, so this is pretty neat. How does it affect placeholders for JS based ads?

[2016-03-24 22:03] rosskevin commented on #385
As long as another script doesn't rely on the js and try to call an api i.e. the script is executed as an iife/standalone, then nothing happens!  It's all upside, no console errors and nothing executed.

As it was, it was just a slew of errors in the browser.

[2016-03-24 22:04] PromoFaux commented on #385
For sure, give me a sec to do a pull and I'll test it

[2016-03-24 22:17] PromoFaux commented on #385
OK, so from testing this only graps the snippet on `http` requests, and not `https`, but I think that's a separate issue.

![image](https://cloud.githubusercontent.com/assets/1998970/14032948/366a9474-f20e-11e5-87c0-438191d6b44f.png)

[2016-03-24 22:26] rosskevin commented on #385
Yeah, I'm not sure if `$HTTP` is just the protocol segment or literally `http`:

`$HTTP["url"] =~ "^(?!/admin)/.*"`

But that rewrite is probably what should be tweaked.

[2016-03-24 22:30] PromoFaux commented on #385
I think just the protocol, however I'm a bit clueless when it comes to web security. From what I understand after previous conversations, we'd need to be self-signing a certificate, which would essentially be a man in the middle attack. @dschaper can probably correct me....!

[2016-03-24 22:34] DonLexos commented on #385
If you would self sign the browser (chrome) will return an error that it 'Your connection is not private' or worse, it will do something random depending on the browser. It will toss something like
`This server could not prove that it is your.fake.pi-hole.domain.com; its security certificate is not trusted by your computer's operating system. This may be caused by a misconfiguration or an attacker

[2016-03-24 22:36] PromoFaux commented on #385
Yeah, I knew the answer wasn't a fun one :)

[2016-03-24 22:37] DonLexos commented on #388
Yes it is.

[2016-03-24 22:39] DonLexos commented on #385
Self signed certificates will most likely not be liked by any browser, one of the main points of SSL is you know you connect to the proper domain (so https://www.addomain.com/js/whatever.js should give an error if it is server with a self signed certificate, since that is not valid for addomain.com) .

[2016-03-24 22:40] PromoFaux commented on #388
Super. Thanks @DonLexos !

[2016-03-24 22:40] #388 closed

[2016-03-24 22:41] DonLexos commented on #385
On the other hand, if you just serve an empty js file ... not sure what would happen. The ads will break (a feature, not a bug!) and the console will be a surprise I guess (but only on httpS included ad.js files).

[2016-03-24 22:43] PromoFaux commented on #385
There is no such thing as bugs. Only undocumented features...

I think we can leave the https ads for now, we've done fine without them so far!

[2016-03-24 22:47] DonLexos commented on #385
Ha.. .I meant it won't display the ads but that seems like intended behavior o:-)

[2016-03-24 23:07] zimmertr commented on #399
@nate-ubiquisoft I already had all of those packages installed.

[2016-03-24 23:13] rosskevin commented on #385
I'd rather not pollute the log with anything, so I'm not in favor of using `console.log` because in my case, it would output 13 times interspersed with other errors.  The whole premise of this is to cleanup the log.

[2016-03-24 23:24] PromoFaux commented on #385
Yeah, that's a fair point. I'm a bit log-happy. We can leave customisation of that file up to the user, if they wish to have it. Just for future reference, please make PRs against the development branch, and not the master, it's less work for us to pull it over :) Thanks again!

[2016-03-24 23:24] #385 closed

[2016-03-24 23:56] badmark commented on #388
Updated, new error message

![selection_032](https://cloud.githubusercontent.com/assets/7435884/14034546/7dc99676-f1fa-11e5-86f9-029e5d18ff93.png)

[2016-03-25 00:04] PromoFaux commented on #388
Could you please run `updateDashboard.sh` then clear the cache  on your client machine and reload the page? There should be an extra column labelled 'status'

[2016-03-25 01:53] badmark commented on #388
root@rpi:~# updateDashboard.sh
Updating 4f20cc6..a5e2008
error: Your local changes to the following files would be overwritten by merge:
	data.php
Please, commit your changes or stash them before you can merge.
Aborting

[2016-03-25 01:57] badmark commented on #388
git fetch --all
git reset --hard origin/master

This fixed the error message but now it's just spinners, no data...

[2016-03-25 02:07] jacobsalmela commented on #399
Spotify Premium works fine on my Mac and iOS devices.  I'll try to set up an Arch VM and if my head doesn't explode, I'll test it out there.

[2016-03-25 02:08] zimmertr commented on #399
Haha it's not that hard. The Arch Wiki is the single greatest wealth of Linux information on the internet.

[2016-03-25 02:14] jacobsalmela commented on #230
So the lighttpd config would look something like this (I haven't tested this yet):
[code]
or
[code]

[2016-03-25 03:43] Mcat12 commented on #388
So after updating to the latest (1.1.6) it's having problems? Can you check `/var/log/lighttpd/error.log` for any errors?

[2016-03-25 05:41] dschaper commented on #399
If you guys need an Arch VirtualBox image, let me know. Slack has the link to one that I made. @nate-ubiquisoft if you trust me, you can shoot me an email at dschaper@ganymeade.com and I'll give you the link. It's about 1.25Gigs on OneDrive.

[2016-03-25 07:49] PromoFaux commented on #388
@badmark do another `sudo git pull` on the `/var/www/html/admin` directory (or `updateDashboard.sh`, which would have failed before because of the changes you made to `data.php`)

[2016-03-25 13:06] SudoHenk commented on #397
Well the thing is that I can't block DNS requests in my router. My ISP provides a shitty router that has like 0 functionality.

[2016-03-25 13:08] #397 closed

[2016-03-25 14:01] badmark commented on #388
Already up-to-date.

[2016-03-25 14:08] ryt51V opened #401 "Python rewrite & deb packages"
Ok, this isn't an issue, but it is very development related - I thought people would prefer to discuss it here.  If not then I apologise.

Pi-Hole is awesome and I am so glad I found this project.  Many thanks to Jacob and all of the devs who have worked so hard on this.

A few weeks ago I begun a fork of Pi-Hole for myself and began making a few changes - support for multiple IP addresses on an i

[2016-03-25 14:13] badmark commented on #388
Removed directories and re-ran install.sh - continue to receive this error, the CPU is pegged, and only spinners on the main page...
![selection_033](https://cloud.githubusercontent.com/assets/7435884/14045629/17c22334-f272-11e5-907a-8cd62b52711e.png)

[2016-03-25 15:50] dschaper commented on #401
Py 2 or py 3? Or portable 2 with future import? I'm definitely interested
in the progress of this. No words of telling you where to stick, other than
in a fork and PR. Let's see how this fleshes out, how it impacts
portability and performance. Remember we are shooting  for the Zero as the
lowest common and it should Just Work on that. Keep going!

The refactor is in progress, but its like steady h

[2016-03-25 16:12] ryt51V commented on #401
Python 3; only tested with 3.4 on (Deb|Rasp)ian.  To be frank, while I'm aware of portability reasons, I have no personal interest in getting this working on Python 2.

As it's a complete rewrite (only a few conf files are slightly in common) I didn't think it was suitable for a pull request, but the repo will always be there.

I'm not trying to undermine the refactor or any other efforts, mean to

[2016-03-25 16:29] PromoFaux commented on #397
Ah,  yeah,  I hate when they do that.  BT provided me with an OK router,  but I couldn't do much with the settings,  so I went out and bought my own :)

[2016-03-25 22:29] beardofbeespool opened #402 "Admin Web Interface only showing CODE"
##### Expected Behaviour:
Expect to see the web interface w/stats - when visiting "pi-IPADDRESS"/admin/index.php

##### Actual Behaviour:
Only seeing PHP code

##### Steps to reproduce this issue:
Not sure how...

![image](https://cloud.githubusercontent.com/assets/16466705/14055327/13438630-f2af-11e5-8a10-5e0b094b3376.png)

The above photo is from Chrome, below is from Edge browser:

![image](htt

[2016-03-25 22:43] Mcat12 commented on #402
Do you have an ftp server running under the web server root? That's the first thing that came to my mind...

[2016-03-25 22:46] beardofbeespool commented on #402
@Mcat12 I dont, I have a local web server running, that is only accessible via 192.168.1.4

[2016-03-25 23:43] meaverick opened #403 "dnscrypt-proxy not works"
##### Expected Behaviour:
dnscrypt-proxy not works. i have ipv6 and ipv4 ip address.

##### Actual Behaviour:
[code]
##### Steps to reproduce this issue:
Please comments

why port is 53 not 40, please look this log:
[code]

[2016-03-26 00:12] nate-ubiquisoft commented on #403
@meaverick Are you trying to modify dnscrypt's default port? dnscrypt client listens on port 40 but the DNS requests will go through port 53, with is the international standard port for DNS queries. Can you do the following for me?
`wget https://raw.githubusercontent.com/nate-ubiquisoft/pi-hole/master/advanced/Scripts/piholeDebug.sh`
`./piholeDebug.sh`
Navigate to youtube.com when the script promp

[2016-03-26 00:15] nate-ubiquisoft commented on #402
@beardofbeespool Wait so you have a webservice running on your Pi which, from what you provided, is listening on port 80 which is what the pihole admin interface listens on. There can be a conflict doing this. I recommend stopping your web server, reboot the pi, and see if the admin page now works with your custom web server stopped.

[2016-03-26 00:33] meaverick commented on #403
Sorry it seem can't run.

pi@raspberrypi2:~ $ wget https://raw.githubusercontent.com/nate-ubiquisoft/pi-hole/master/advanced/Scripts/piholeDebug.sh
--2016-03-26 08:31:42--  https://raw.githubusercontent.com/nate-ubiquisoft/pi-hole/master/advanced/Scripts/piholeDebug.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 103.245.222.133
Connecting to raw.githubusercontent.com (raw.gi

[2016-03-26 00:33] nate-ubiquisoft commented on #230
@le0nard0 Can you give me the URL of the youtube video you are still getting ads with? I am testing @jacobsalmela's change to lighttpd.conf and I am successfully forcing a 204 status on all /api/stats/ads/

[2016-03-26 00:35] nate-ubiquisoft commented on #403
@meaverick You will need to `chmod +x piholeDebug.sh`. Sorry I forgot to include that in my instructions. Hopefully this debug script will be packaged with the next update so we dont have to go through this whole `wget` process.

[2016-03-26 00:41] Mcat12 commented on #402
Was this a clean install?

[2016-03-26 00:43] meaverick commented on #403
./piholeDebug.sh
sudo will be used for debugging.
Writing local IPs to debug log
Writing dnsmasq.conf to debug log...
Writing 01-pihole.conf to debug log...
Writing lighttpd.conf to debug log...
Writing size of gravity.list to debug log...
Writing hosts file to debug log...
Writing whitelist to debug log...
Writing blacklist to debug log...
Writing adlists.list to debug log...
No adlists.list file

[2016-03-26 00:44] Mcat12 commented on #403
There should be a debug text file that it generated. Attach it here please.

[2016-03-26 00:45] nate-ubiquisoft commented on #403
Okay now this will have created a file `/var/log/pihole_debug.log` that you need to attach here.

[2016-03-26 00:46] meaverick commented on #403
IP Addresses of this Pi:
192.168.1.200
127.0.0.1

Gateway check:
ok

#######################################
######## Whitelist Comparison #########
#######################################

#######################################
######## Blacklist Comparison #########
#######################################

#######################################
############ NSLookup Test ############
#########

[2016-03-26 00:48] meaverick commented on #403
192.168.1.200 is Pi2
192.168.1.5 windows client

[2016-03-26 00:51] Mcat12 commented on #403
Thanks for attaching the file, but you can also attach it by dragging the file, instead of a wall of text. ;)

[2016-03-26 00:58] nate-ubiquisoft commented on #403
The first thing that stands out to me are your `server`s in 01-pihole.conf. They are pointing to your localhost address, not to an external DNS service, like 8.8.8.8 (Google DNS).

[2016-03-26 01:03] beardofbeespool commented on #402
@nate-ubiquisoft

pi@raspberrypi:~ $ sudo service lighttpd status
● lighttpd.service - Lighttpd Daemon
   Loaded: loaded (/lib/systemd/system/lighttpd.service; enabled)
   Active: failed (Result: exit-code) since Fri 2016-03-25 17:25:03 CDT; 2h 36min ago
  Process: 656 ExecStart=/usr/sbin/lighttpd -D -f /etc/lighttpd/lighttpd.conf (code=exited, status=255)
  Process: 478 ExecStartPre=/usr/sbin/lig

[2016-03-26 01:05] beardofbeespool commented on #402
@nate-ubiquisoft

pi@raspberrypi:~ $ netstat -tnlp
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State

[2016-03-26 01:11] meaverick commented on #403
[Uploading 01-pihole.conf.txt…]()

[2016-03-26 01:13] nate-ubiquisoft commented on #402
@beardofbeespool Yup! Your web server is preventing lighttpd from launching, which effectively disables pihole. You will need to either change the listening port for your local web server or move it to another device than the PiHole. Realistically, especially due to the cheap price, the Raspberry Pi running PiHole should NOT have anything else running on it. Just grab another Pi or two XD

[2016-03-26 01:13] beardofbeespool commented on #402
@nate-ubiquisoft

I used this to build the webpage, was testing the material lite layouts: https://www.raspberrypi.org/learning/lamp-web-server-with-wordpress/worksheet/

[2016-03-26 01:13] meaverick commented on #403
actually i follow wiki document as this
Change your DNSMasq config

Change DNS resolver in DNSMasq config

sudo nano /etc/dnsmasq.d/01-pihole.conf
Edit this section and point to dnscrypt-proxy

**# Add other name servers here, with domain specs if they are for
# non-public domains.
server=127.0.0.1#40
server=127.0.0.1#41    (if adding a second resolver)**

[2016-03-26 01:14] nate-ubiquisoft commented on #403
@meaverick Hmm that link you posted just points back to this issue.
As well, why are you trying to point to a different name server?

[2016-03-26 01:14] beardofbeespool commented on #402
@nate-ubiquisoft should I remove the entire Apache 2 install then?

[2016-03-26 01:16] nate-ubiquisoft commented on #402
@beardofbeespool if it is apache 2, then you can do the following to simply disable it for now:
`sudo service httpd stop`
`sudo service httpd disable` (This will stop it from launching at boot)
`sudo reboot`
and check the status of lighttpd again after rebooting
`sudo service lighttpd status`

[2016-03-26 01:20] meaverick commented on #403
from Beginning setting (Install Pi hole) i set up to opendns but not Google 8.8.8.8. so i am strange why it show google DNS

[2016-03-26 01:25] nate-ubiquisoft commented on #403
The google nslookup you see is simply what I default the logging to test against to see if records are being correctly resolved. You should run `curl -L install.pi-hole.net | bash` again and select Google as the upstream DNS provider. There should be no additional configurations to be made following a successful install.

[2016-03-26 01:29] meaverick commented on #403
Try...

[2016-03-26 02:03] meaverick commented on #403
I change and re-setup and looks same.

[Uploading journalctl -u dnscrypt-proxy.docx…]()

[2016-03-26 02:15] nate-ubiquisoft commented on #403
@meaverick I dont know how you are *uploading* the file but you are just linking back to this thread rather than uploading it. Just drag and drop the file onto the message box to upload it.

[2016-03-26 02:22] beardofbeespool commented on #402
@Mcat12  @nate-ubiquisoft ...in the end I rebuilt this Pi, It was needing it. I think you were right but I couldent seem to stop the other pages from interrupting the Pi-hole admin page. Thanks all for your help. It was just faster in the end to rebuild the Pi

[2016-03-26 02:22] #402 closed

[2016-03-26 02:24] meaverick commented on #403
it is difficult to upload log. Later I will try to upload again. sorry to bother.

[2016-03-26 14:41] jradwan opened #404 "Windows 10 internet status / app connectivity not working"
##### Expected Behaviour:
After whitelisting msftncsi.com and www.msftncsi.com (per issue #315), network status icon in Windows 10 should not show yellow exclamation point.

##### Actual Behaviour:
After upgrading to the latest Insider Preview Build (14295), the yellow exclamation point is back on my network status icon even though internet connectivity is fine. Also, the Feedback Hub and Weather

[2016-03-26 16:05] marcmast commented on #231
Worked for me by editing `/etc/hosts`

[2016-03-26 17:03] PromoFaux commented on #230
Does YouTube not use https by default? I wonder if that will cause issues....

[2016-03-26 17:10] le0nard0 commented on #230
Hey @nate-ubiquisoft I don't have any specific URL, my daughter watches Peppa Pig and sometimes gets ads.

[2016-03-26 20:00] dschaper commented on #230
It's a combo of things I think, they did switch to HTML5 player as default a while ago, but video ads are an ongoing research project just because of the nature of them. And I think they have the CDN for the adverts on the same CDN as the video. (So another self-hosting circle)

[2016-03-27 10:28] Alomamabobo commented on #404
Same issue here on Standard Windows 10 install.

[2016-03-27 12:40] recrudesce opened #408 "PiHole breaks Nest devices"
##### Expected Behaviour:
Nest Devices can connect to the API etc and show as online in the Nest App/Web Interfaces

##### Actual Behaviour:
All Nest devices are unable to contact their respective API's and show as offline.

##### Steps to reproduce this issue:
Have any Nest product (thermostat, Protect) and use Pi-Hole as a DNS server.

I'll do some more digging to see if I can work out where the

[2016-03-27 13:04] CDeeRON commented on #408
I have many Nest products and access the nest api to pull stats manually. No issues for me with pihole 2.5.3 as dns on my network.

[2016-03-27 13:32] rj45jack opened #409 "After a few days Pi Hole stops blocking ads"
After a few days of leaving Pi Hole running this occurs: http://imgur.com/xY0fG9G

Then after running gravity.sh things start working again: http://imgur.com/yyWhbOL

Sometimes the "blocked domains" goes to "0". But the blocked ads always remains at "0" until I rerun the gravity script.

[2016-03-27 18:44] wikibit opened #410 "Feature request : Dashboard / Top Clients"
The Top Clients widget looks nice, but it seems to defeat its purpose
it is not very easy to see each client and their counts, you need to hover over the green datapoints to see the numbers; and that is becoming difficult if the datapoints are cluttered together

Talking usability of the dashboard :
I would prefer a more simple list like top advertisers or top domains
clientip (hostname) and numbe

[2016-03-27 20:24] recrudesce commented on #408
Weird - as soon as I set my DNS to be the PiHole everything goes offline.  I'll try it again and report back.

[2016-03-27 20:59] zimmertr commented on #399
Anything else that I can test in the meantime?

[2016-03-27 21:46] jradwan commented on #404
I was seemingly able to work around this by turning off my Pi-Hole and doing a "ipconfig /flushdns" and "ipconfig /registerdns" on the Windows 10 machine, followed by a reboot. This allowed the internet status and other apps (Weather, Feedback Hub, etc.) to properly work (since presumably they weren't being blocked by Pi-Hole).

I turned my Pi-Hole back on last night and today these features are s

[2016-03-27 21:47] jradwan commented on #408
My Nest thermostat seems to working fine with Pi-Hole as well.

[2016-03-27 21:49] recrudesce commented on #408
Very weird - maybe something wrong with the config.  I'll rebuild mine and see what happens.  Happy for this issue to be closed then as it seems to be related to just my environment, and no one elses.

[2016-03-27 22:09] PromoFaux commented on #408
If you 'tail /var/logs/pihole.log' you'll be able to see in real time if any relevant domains are being blocked..

[2016-03-27 22:45] nate-ubiquisoft commented on #408
I've got a nest cam and a nest thermostat running behind my pihole without issue. One thing I had to to was restart each nest device after setting the router to point dns request at my pihole to refresh their dns cache

[2016-03-28 05:35] Alomamabobo commented on #404
Yup the /flushdns did the trick, forgot about it :) Thanks.

Le 27/03/2016 23:46, Jeremy a écrit :

[2016-03-28 10:17] PromoFaux commented on #404
@jradwan So this issue was solved by flushing the DNS cache on your windows 10 PC? I was beginning to wonder if maybe the insider preview had changed the connectivity domain...

[2016-03-28 10:18] PromoFaux commented on #399
@zimmertr do you have a non-arch client device that you could test spotify on? Maybe windows, or OSX?

[2016-03-28 14:05] zimmertr commented on #399
It works fine on my Android phone and my MacBook Air.

[2016-03-28 14:06] kmr2319 commented on #409
I've had similar problems where it would show 1 or 0 domains blocked.

[2016-03-28 22:28] jradwan commented on #404
It's only temporarily fixed. If I use /flushdns and /registerdns while the Pi-Hole is off, everything works. But as soon as I do a flush/register with the Pi-Hole running, I get the yellow exclamation point on the network connection and the Feedback app (and a few others) report there is no internet connectivity.

[2016-03-28 22:41] PromoFaux commented on #404
Interestingly, I've just done a fresh install of pihole (nothing on my whitelist yet) And i'm not getting the yellow triangle at all (where I would expect one) did `/flushdns` `/renew` `/registerdns` and a reboot... pi-hole running at all times...

[2016-03-28 23:00] jradwan commented on #404
When I try to ping msftncsi.com I get "Ping request could not find host msftncsi.com. Please check the name and try again." I can ping www.msftncsi.com though. Maybe that's my problem? If I grep for msftncsi in /etc/pihole this is what I get:

[code]

[2016-03-28 23:12] PromoFaux commented on #404
I need to check on a non-piholed system to see if it's normal to get no ping return on `msftncsi.com`, which I will do at work tomorrow.

[2016-03-28 23:13] dschaper commented on #404
Just a general question, but does the script take the comment out of `list.8` and populate `gravity.list` with 2 copies of `msftncsi.com`?

Can you do a `grep` of `gravity.list` and see if the domains show at all in the final list? Also, can you run a `cat /var/log/pihole.log |grep gravity.list` and see if the msft domains are being Pi-holed while you ping?

[2016-03-28 23:14] dschaper commented on #404
@PromoFaux But the error is a No Domain Found error, not a ICMP blocked error I believe.

[2016-03-29 12:56] PromoFaux commented on #404
@dschaper Yeah, that's what I meant.. :)

@jradwan confirmed on a system untouched by pi-hole that you should get host not found

![image](https://cloud.githubusercontent.com/assets/1998970/14108596/100041de-f5b6-11e5-9874-567c2fdcbeba.png)

[2016-03-29 14:14] jacobsalmela commented on #399
Sorry, I haven't installed Arch yet...

[2016-03-29 17:39] dschaper commented on #404
@PromoFaux Running a root check to see if that domain even exists. Sorry about the ICMP comment, I know you know. Brain wasn't working right at the moment...

[2016-03-29 17:40] dschaper commented on #404
[dnsreport_msftncsi.com.pdf](https://github.com/pi-hole/pi-hole/files/193965/dnsreport_msftncsi.com.pdf)

According to the report, there is no literal for that domain, only a `www` (A) record. All is functionally nominal.

[2016-03-29 20:11] eDavidT opened #414 "Feature request: whitelist domain from query list"
Would be nice to whitelist domain straight from the query list GUI. Maybe add both whitelist and blacklist options?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32377753-feature-request-whitelist-domain-from-query-list?utm_campaign=plugin&utm_content=tracker%2F3011939&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2016-03-29 20:18] Mcat12 commented on #414
We are working on this feature in a branch called whitelist, but we want to make sure it is secured so that ads can't whitelist themselves (addomain.com/admin/php/add.php?l=white&domain=addomain would whitelist itself, since we redirect queries to the pi itself).

[2016-03-29 23:03] jradwan commented on #404
Ok, so no need to black/whitelist msftncsi.com then, thanks. The FAQ should probably be updated to reflect that?

Everything's working fine tonight, but I haven't done a /flushdns since my last reboot with the Pi-Hole off.

[2016-03-30 00:33] Mcat12 commented on #404
I think you still need to whitelist msftncsi.com and www.msftncsi.com.

[2016-03-30 00:56] dschaper commented on #404
Msftncsi.com doesn't resolve so it probably won't need to be whitelisted.

Dan Schaper via GS3
On Mar 29, 2016 5:33 PM, "Mcat12" <notifications@github.com> wrote:

[2016-03-30 01:30] Mcat12 commented on #404
Only the www one then?

[2016-03-30 01:33] dschaper commented on #404
I believe so, from what I interpret of the DNS report, the naked domain doesn't resolve, however the full decorated www domain does. Now if Microsoft is expecting the naked domain to fail and is using that failure as an indicator that things are operating correctly, that's a whole 'nother story....

[2016-03-31 05:01] ThatRaspberryPiGuy opened #415 "Google ads not blocked"
##### Expected Behaviour:
Google double click ads are blocked.

##### Actual Behaviour:
Double click ads make it through

##### Steps to reproduce this issue:
Go to any site that has double click ads

[2016-03-31 13:20] ToronMega commented on #375
Hi,
so I got the same Problem now on two RaPi 2 with Pi-hole Version v2.5.3 Web Interface Version v1.1.5 and  Pi-hole Version v2.5.3 Web Interface Version v1.1.6

2016-03-31 15:00:59: (mod_fastcgi.c.2695) FastCGI-stderr: PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 36 bytes) in /var/www/html/admin/data.php on line 144

I try to change memory limit on the CG

[2016-03-31 13:25] DonLexos commented on #414
Would a regular expression to check the referer of the whitelist request not fix this potential issue?

I mean if add.php would check it's own requested url and check if it is requested from a (local) ip address instead of a domain? Not sure if I explain it well but basicly that it's run from http://192.168.1.x/etc (maybe can even check it's own local IP from somewhere) and check if the requested

[2016-03-31 13:27] DonLexos commented on #415
Can you link to a page that has the ads that slip through? Are you sure your network uses the pi-hole as it's first DNS server?

[2016-03-31 16:11] Mcat12 commented on #375
How big is the log file?

[2016-03-31 16:42] ToronMega commented on #375
dnsmasq  root     1715336 Mar 31 18:27 pihole.log
www-data www-data    9181 Mar 31 15:20 error.log

not the prob I think

remember :
1. with 1.213.908 Domains Being Blocked (not running)
2. change my adblocks.list and run gravity.sh so I drop under 1 million ( it's working )
3. change my adblocks.list and run gravity.sh to 1.213.908 Domains (not running)
I do not reboot or any other steps between

[2016-03-31 19:39] Mcat12 commented on #375
How big is `/etc/pihole/gravity.list`? That is also loaded into memory by php.

[2016-03-31 20:26] ToronMega commented on #375
root root 38407616 Mar 31 14:55 gravity.list

[2016-03-31 20:52] Mcat12 commented on #375
38MB + 17MB = a lot of bytes... That's probably the reason. I do think that the adlist file does mention that large lists (Mahakala) might screw up the web interface. We are trying to get around this, but since we are only voluntary devs, we're not as fast as full timers. D:

[2016-03-31 21:57] PromoFaux commented on #375
Also worth noting that if you have ipv4 and ipv6 blocking enabled, `gravity.list` has an entry for each of those.. so each domain is doubled up, vastly increasing the size! Might be able to do something a bit cleverer with the PHP, I had some success in rapid log parsing on the query log page, might be able to replicate it for the front page...

[2016-03-31 22:23] PromoFaux commented on #375
OK, I have a fix for this, though i'm probably not going to be able to get it up tonight. I will update when it's live.

[2016-03-31 22:36] PromoFaux commented on #375
@ToronMega Try the following as a temporary measure until we push the fix to master. I'm probably going to work on tuning the API a bit more, so it may break. But let me know if what's up so far fixes your problems...

[code]

To revert it's just:

[code]

or

[code]

[2016-04-01 01:43] dan019 commented on #415
Do you mean, for an example, http://speedtest.net

Have you read through my guide on the [forums](https://pi-hole.net/forums/topic/privoxy-and-pi-hole/)?

[2016-04-01 08:15] ToronMega commented on #375
sudo rm -rf /var/www/html/admin
sudo mkdir /var/www/html/admin (add this step, without will not run )
sudo /usr/local/bin/updateDashboard.sh

so Pi-hole Version v2.5.3 Web Interface Version v1.1.7 ist

running fine :-)

**big Thx**
![pihole](https://cloud.githubusercontent.com/assets/18190553/14201487/960726b0-f7f2-11e5-9aea-70a30ded3698.jpg)
![Uploading pihole.jpg…]()

[2016-04-01 08:16] PromoFaux commented on #375
Ah yeah, was about to say @Mcat12 pushed it to release last night. Excellent, glad that fixed it!

[2016-04-01 08:16] PromoFaux commented on #375
@stomp442 does this fix your issues, also?

[2016-04-01 12:13] Fedora-Core commented on #273
**Observation**

Why HTTPS-hacking, Man-In-The-Middle-Proxies, Self-Signed-Certificates, - and any other measures - soon will no longer work  ==>

[http://www.certificate-transparency.org/](http://www.certificate-transparency.org/)

**Towards A Safer Internet.**

Read once to **grasp** what is the problem.
Read a second time to **know** the solution.
Read a third time to **understand why** it is t

[2016-04-01 16:04] lokenx commented on #337
Just for the record I think the URL may have changed, the below worked for me:
[code]

[2016-04-01 20:34] DonLexos commented on #415
I do not see any google ads on speedtest.net, are you sure the system you experience this has the pi-hole set as dns?

[2016-04-01 20:40] PromoFaux commented on #415
speedtest.net shows adchoices ads, atleast for me anyway.

[2016-04-01 21:11] DonLexos commented on #415
On the main index page? I only run Pi-hole, no additional adblock and I don't see them. I run a vanilla installation (no extra lists).

[2016-04-01 21:45] Mcat12 commented on #415
I also saw what I thought to be an ad, but it actually was a mimic made to get around ad blockers. It is self hosted and just puts the buttons and ad choices icon in the right spots.

[2016-04-02 07:39] akamel001 commented on #415
Seeing the same issue just not on speedtest.net.

http://ads-blocker.com/testing/

Looks like its related to https vs http?

[2016-04-02 08:31] picusc opened #417 "What is the Key for selecting while setup?"
##### Expected Behaviour:
I pressed down key and pressed the Enter key to select ipv6 but it took me to the next page without selecting ipv6.

What key to press for selecting? Enter is not working.

[2016-04-02 09:25] PromoFaux commented on #417
Hi there,  space bar is what you need  :)

We should probably change that page to mention that..

[2016-04-02 10:32] picusc commented on #417
Thanks, it worked. And what an awesome piece of utility pi-hole is. Thanks to everyone that contributes to it.

[2016-04-02 13:50] PromoFaux commented on #417
You're welcome, thanks for trying us out!

[2016-04-02 13:50] #417 closed

[2016-04-02 13:52] PromoFaux commented on #415
Do you have both `IPv4` and `IPv6` options enabled on pi-hole? It could be `IPv6` ads getting through...I'm not seeing ads on that page!

[2016-04-02 15:37] ryt51V commented on #310
I know this is WAY too late, but just for the record, StartSSL give free 1 year certificates.  AFAIK they are trusted by OS / browsers just as any paid certificate.  I prefer Let's Encrypt, but I've used this a few times and it's a great alternative.

https://www.startssl.com/

Used to be limited to 1 SAN per certificate but they've upped it to 5 recently.  The only downside I see is that I reckon

[2016-04-02 21:07] akamel001 commented on #415
@PromoFaux

I'm using the docker container to run pihole. I looked at the container and it did bind to port 53 on a IPv6 address.

Actually never mind. I think i fixed the issue.  I didnt have my router configured to use the IPv6 of the container. Set up Ipv6 DNS on the router and works now. I dont see those adds on that page.

[2016-04-03 19:02] Zer0t3ch opened #421 "Local overrides are deleted by gravity.sh"
##### Expected Behaviour:
File (`/etc/${basename}/pihole.conf`) will remain intact

##### Actual Behaviour:
File is deleted

##### Steps to reproduce this issue:
1. Create a file named `/etc/pihole/pihole.conf`
1. Execute `gravity.sh`

---

Coincidentally, while looking into this, I found that the line in `gravity_reload` that is doing the deleting (line 334) is using a hard-coded directory, (`/et

[2016-04-03 20:59] PromoFaux commented on #421
Good catch! I'll fix this now for the next release. (in the mean time, if it's causing issues for you, comment out line 334 in gravity.sh)

[2016-04-03 21:20] dschaper commented on #421
Was this a regression? I thought we handled this

Dan Schaper via Project Fi
Nexus 5X
On Apr 3, 2016 1:59 PM, "Adam Warner" <notifications@github.com> wrote:

[2016-04-03 21:25] Mcat12 commented on #421
It's because we were deleting all files matching `pihole.*` instead of `pihole.*.txt`. See d710b

[2016-04-03 21:25] PromoFaux commented on #421
An oversight on my part. :blush:

[2016-04-03 21:43] Sidhartha-Telukuntha opened #422 "Unable to start lighttpd service on Pi"
##### Expected Behaviour:
Admin website should be displayed on the browser

##### Actual Behaviour:
Unable to view the website as the lighttpd service is not starting properly. Below is the output of the command I used:

[code]
But the mod file was present in the location specified:

[code]

I installed a fresh image of Raspbian jessie light distro & ran the auto install command `curl -L install.p

[2016-04-03 21:44] PromoFaux commented on #422
did you run `raspi-config` and expand your filesystem?

[2016-04-03 21:45] Sidhartha-Telukuntha commented on #422
Yes, I even changed my hostname

[2016-04-03 21:52] PromoFaux commented on #422
We have a debug script that may help, but it's not released yet.

`wget https://raw.githubusercontent.com/pi-hole/pi-hole/development/advanced/Scripts/piholeDebug.sh`

Download and run that script, and then paste in the output to a pastebin please.

[2016-04-03 22:18] #421 closed

[2016-04-03 23:07] Sidhartha-Telukuntha commented on #422
the Pastebin link: http://pastebin.com/ixtCkuAY

[2016-04-03 23:12] nate-ubiquisoft commented on #422
You said you changed your hostname. I see in the log that it is still set to pihole, as is reflected in your hosts file. How did you change it before? Did you reboot since?

[2016-04-03 23:22] Sidhartha-Telukuntha commented on #422
the hostname was showing up as raspberrypi after boot, which i changed to "pihole" myself.

[2016-04-03 23:39] nate-ubiquisoft commented on #422
Okay yea that looks good. Can you send me the output of `sudo systemctl -l status lighttpd` and `sudo netstat -tnlp`? Thanks!

[2016-04-03 23:49] Sidhartha-Telukuntha commented on #422
systemctl output:
[code]
netstat output:
[code]

[2016-04-04 00:28] nate-ubiquisoft commented on #422
Okay so it looks like your lighttpd installation is messed up. I would recommend doing the following then reinstalling Pi-Hole:
`sudo apt-get remove --purge lighttpd`
`sudo apt-get autoremove`
`sudo apt-get autoclean`
`sudo apt-get update`
`sudo apt-get upgrade`
`sudo apt-get install lighttpd`

Then you reinstall PiHole with `curl -L install.pi-hole.net | bash`

[2016-04-04 01:05] greg5678 opened #426 "Changing from Google DNS to OpenDNS gives me errors"
I changed from the Google dns servers to OpenDNS in the /etc/dnsmasq.d/01-pihole.conf file and when I ran this command systemctl status -l dnsmasq.service it gave me an error

pi@raspberrypi:~ $ systemctl status -l dnsmasq.service
● dnsmasq.service - dnsmasq - A lightweight DHCP and caching DNS server
   Loaded: loaded (/lib/systemd/system/dnsmasq.service; enabled)
  Drop-In: /run/systemd/generato

[2016-04-04 01:14] Sidhartha-Telukuntha commented on #422
I am able to see the admin screen & the pings are coming up well. Thanks.

[2016-04-04 01:14] #422 closed

[2016-04-04 05:27] nate-ubiquisoft commented on #426
Can you paste the advanced output from systemctl by invoking `sudo`? The `-l` option does not work without root.

[2016-04-04 07:58] Righteous commented on #399
On arch using pi-hole with spotify premium and have no issues.

[2016-04-04 08:03] PromoFaux commented on #399
@NHgranite @zimmertr any update?

[2016-04-04 08:29] Righteous commented on #399
@PromoFaux You can look at my comment for a quick arch install. Takes about 15 minutes max depending on your download speed.

[2016-04-04 08:31] PromoFaux commented on #399
Which comment? :)

[2016-04-04 08:33] Righteous commented on #399
@PromoFaux "EDIT: I don't know if its the same as installing arch normally but if anyone needs a "graphical installer" for arch you can check out [Architect Installer](https://sourceforge.net/projects/architect-linux/)"

[2016-04-04 08:33] PromoFaux commented on #399
ah. Hold on one moment whilst I cover up all traces of my blindness...

[2016-04-04 13:58] PromoFaux commented on #399
I will take a look into that if I get some time today.

Though, this makes me wonder. Did you use the graphical installer to set up arch? I wonder if it includes some dependencies that may be easy to miss when setting it up manually...

[2016-04-04 14:20] zimmertr commented on #399
I did not.

[2016-04-04 14:29] PromoFaux commented on #399
OK. Lets play whack-a-mole.

@Righteous @zimmertr

Can you each run `pacman -Q > pacman.txt` and upload the result to pastebin or something please?

[2016-04-04 19:55] Zer0t3ch opened #428 "Blacklist.sh and Whitelist.sh ignore overrides (pihole.conf)"
##### Expected Behaviour:
Blacklist.sh and Whitelist.sh should source pihole.conf

##### Actual Behaviour:
They do not source pihole.conf

##### Steps to reproduce this issue:
1. Create a pihole.conf
1. execute either of the scripts.

[2016-04-04 20:12] PromoFaux commented on #428
Good catch, will be fixed in the next release pending Pull Release #429

[2016-04-04 22:11] greg5678 commented on #426
pi@raspberrypi:~ $ sudo systemctl status -l dnsmasq.service
● dnsmasq.service - dnsmasq - A lightweight DHCP and caching DNS server
   Loaded: loaded (/lib/systemd/system/dnsmasq.service; enabled)
  Drop-In: /run/systemd/generator/dnsmasq.service.d
           └─50-dnsmasq-$named.conf, 50-insserv.conf-$named.conf
   Active: failed (Result: exit-code) since Sun 2016-04-03 21:04:58 EDT; 21h ago
  Pro

[2016-04-04 23:35] PromoFaux commented on #428
@Zer0t3ch This is now fixed in version 2.6. `curl -L https://install.pi-hole.net | bash` to update

[2016-04-04 23:35] #428 closed

[2016-04-04 23:45] PromoFaux commented on #415
@ThatRaspberryPiGuy Has any of this conversation helped? :)

[2016-04-04 23:47] PromoFaux commented on #426
@greg5678 Did you change the upstream DNS servers manually in `/etc/dnsmasq.d/01-pihole.conf`?

Try running the install script again (we've just pushed an update, anyway). This will give you the option to select OpenDNS as your upstream DNS during the install process.

[2016-04-04 23:49] PromoFaux commented on #409
Hi there, can you try updating to the latest version (`curl -L https://install.pi-hole.net | bash`) to see if this problem is fixed.

Many thanks

[2016-04-04 23:50] PromoFaux commented on #408
@recrudesce Did restarting your nest devices fix this issue?

[2016-04-04 23:51] PromoFaux commented on #404
@jradwan How has it been behaving over the last week?

[2016-04-04 23:52] PromoFaux commented on #403
@meaverick , any update? You could try using pastebin.com to upload your logs...

[2016-04-05 00:13] jacobsalmela commented on #100
Added in [v2.6](https://github.com/pi-hole/pi-hole/releases/tag/v2.6)
[code]

[2016-04-05 00:13] #100 closed

[2016-04-05 01:09] jradwan commented on #404
Everything's been fine, actually. I was out of town over the weekend (so my PC was off but Pi-Hole was on) and haven't noticed the problem this week so far.

I'll see what happens when the next Insider Preview build is pushed out.

[2016-04-05 01:39] greg5678 commented on #426
I did but it gave me that error when I retried to select OpenDNS and it is still using Google DNS.

[2016-04-05 02:20] jradwan opened #430 "2.6 not blocking any ads (fixed in 2.6.1)"
##### Expected Behaviour:
ads should be blocked :)

##### Actual Behaviour:
no ads being blocked, no "gravity.list" lines appearing in pihole.log; traffic is going through the Pi-Hole as I can see all the activity in pihole.log, but nothing is being blocked

##### Steps to reproduce this issue:
upgraded from 2.5.3 to 2.6

I see this line in pihole.log that I think is the problem:

`Apr  4 22:10:14

[2016-04-05 02:21] nate-ubiquisoft commented on #430
Can you post a debug file? Run the debugging option `pihole -d`

[2016-04-05 02:29] greg5678 commented on #426
Then I changed the 01-pihole.conf file to the ip of OpenDNS's servers.

[2016-04-05 02:29] jradwan commented on #430
Yep. I don't see anything out of the ordinary there, but it's new to me. :)

[pihole_debug.txt](https://github.com/pi-hole/pi-hole/files/203746/pihole_debug.txt)

[2016-04-05 02:32] Mcat12 commented on #426
Did you make a `01-pihole.config.save` file? The presence of that extra file might be causing it. Backup/delete that file and try starting lighttpd.

[2016-04-05 02:35] nate-ubiquisoft commented on #430
Hmm. Would you be okay trying a fresh install? You can run `pihole uninstall`. I would also recommend doing a `locate pihole` and `locate pi-hole` after to see if there are any artifacts still remaining, and if so, we can get a patch out to remove old files from the previous release.

[2016-04-05 03:54] 00firestar00 commented on #430
I'm having the same issue on a fresh install of raspbian, and running the curl install command.

queries are getting routed through, but are being passed through to Google DNS (which I chose at startup)

[2016-04-05 08:10] PromoFaux commented on #430
Yeah, this was my bad! 2.6.1 has been pushed to fix it. Please don't look at the commit logs to see what I fixed. It's not embarrassing in the slightest... ;)

[2016-04-05 08:11] PromoFaux commented on #430
Sod it. Offending code if you're interested.. spot the mistake!:

[code]

[2016-04-05 08:13] 00firestar00 commented on #430
Ha, I was in the middle of typing out that the addn-hosts never got updated. I just updated the config manually, and its seems to be working now.

[2016-04-05 08:15] PromoFaux commented on #430
Best to update to 2.6.1 because next time `gravity.sh` runs on the `cron` job, it will go back to a blank `addn-hosts` :)

[2016-04-05 08:59] PromoFaux commented on #404
2.6.1 now!

The windows 10 telemetry is just an update to `adlist.default` to point to the correct host file download. It's commented out by default.

[2016-04-05 10:39] greg5678 commented on #426
No I did not.

[2016-04-05 11:08] Mcat12 commented on #426
Can you run `ls -all /etc/dnsmasq.d/` and post the output?

[2016-04-05 12:03] Tom999Hall opened #433 "Installer looking for wrong version(s)"
##### Expected Behaviour:
Pi-Hole should install (and work) Ok
##### Actual Behaviour:
404 errors during Pi-Hole install,
Admin gui - http://192.168.0.xxx/admin/index.php, does not work

Pi-Hole install appears to be trying to copy http://mirrordirector.raspbian.org/raspbian/pool/main/p/php5/php5-common_5.6.17+dfsg-0+deb8u1_armhf.deb and other version 5.6.17 files, but location only has version 5.

[2016-04-05 12:13] jradwan commented on #430
Yep, that fixed it. Thank you!

`Apr  5 08:08:20 dnsmasq[9379]: read /etc/pihole/gravity.list - 203142 addresses`

[2016-04-05 12:17] Mcat12 commented on #433
Can you copy the install log?

[2016-04-05 12:23] Mcat12 commented on #433
The installer is just running (with root privileges) `apt-get -y -qq install`. Those arguments just mean to not ask yes or no and to not output anything either.

[2016-04-05 12:31] jradwan opened #434 "2.6.1: pihole.cron needs to be updated with new common pihole script"
Now that there's a single 'pihole' script, the pihole.cron file needs to be updated to use the new command-line syntax instead of the old separate scripts.

i.e.,
`59 1    * * 7   root    /usr/local/bin/pihole updateGravity`

instead of
`59 1    * * 7   root    /usr/local/bin/gravity.sh`

(originally pointed out by @VDRrulez in issue #432 but I didn't see a specific issue to track it)

[2016-04-05 12:51] PromoFaux commented on #434
Cheers man.  I'm out  an about a  the moment  but  going to order sort this out as soon as I get in!

[2016-04-05 12:51] Tom999Hall commented on #433
What's the easiest way to get the install log (for a Windows person) ?

[2016-04-05 13:12] jradwan commented on #434
No worries, you've been busy recently! ;-)

[2016-04-05 13:15] PromoFaux commented on #433
if you ssh into your pi-hole machine and just do `cat /etc/pihole/install.log`

[2016-04-05 13:18] #430 closed

[2016-04-05 13:20] Tom999Hall commented on #433
Ok - here it is

[install.log.txt](https://github.com/pi-hole/pi-hole/files/204515/install.log.txt)

[2016-04-05 13:31] PromoFaux commented on #433
Hmm, OK, looks like the pihole part installed OK at least.

Can you run `pihole -d` and then copy and paste `/var/logs/pihole_debug.log` thanks

[2016-04-05 13:32] #434 closed

[2016-04-05 13:39] Tom999Hall commented on #433
[debug.log.txt](https://github.com/pi-hole/pi-hole/files/204556/debug.log.txt)

Ok - how about this: (I also re-ran the installer and copied the console output)

[2016-04-05 13:42] PromoFaux commented on #433
Hmmm, OK, looks like your apt-get cache might be to blame. Try the following:

`sudo apt-get remove --purge php5-common`
`sudo apt-get autoremove`
`sudo apt-get autoclean`
`sudo apt-get update`
`sudo apt-get upgrade`
`sudo apt-get install php5-common`

Try to see if it works after this, otherwise re-run the install script at this point

[2016-04-05 13:48] Tom999Hall commented on #433
Hmm - tried that, and the last step asked for a Y/n response to continue - definitely did a capital "Y" (the 2nd time), but it said Abort

[2016-04-05 13:57] Tom999Hall commented on #433
now trying the install again ....
Install worked Ok, Admin Gui works Ok now

Can't understand how the apt-get cache was screwed, when I went back to bare-metal, and reformatted sd card, and reinstalled noobs before pi-hole

[2016-04-05 13:59] Tom999Hall commented on #433
got to go now - thanks for your help

[2016-04-05 14:00] PromoFaux commented on #433
The volatile nature of these things I guess! Glad it's worked out for you! Let us know if you have any more problems, we span several time zones, so there is usually someone awake to help!

[2016-04-05 14:00] #433 closed

[2016-04-05 14:46] 0xc0ffea opened #438 "Incorrect permissions preventing lighttpd starting"
Existing working PiHole, ran script update to 2.6.1.1 , web interface wasn't working.

Seems the lighttpd service was failing to start
[code]

Manually setting /var/log/lighttpd to 755 & www-data:www-data fixed

[2016-04-05 15:00] PromoFaux commented on #438
That's interesting. I'm unable to reproduce this. Tried as an upgrade on one pi, and a fresh install on another...

What version were you coming from?

[2016-04-05 16:29] 0xc0ffea commented on #438
2.6.1 installed earlier and untested, and before that im not sure it had been running a long time I never opened the web interface so no idea. srry :/

[2016-04-05 16:35] greg5678 commented on #426
I reinstalled the os and the pi-hole software. To recreate the problem get a fresh install of Raspbian and install pi-hole with sudo curl -L install.pi-hole.net | bash then select OpenDNS (there was a star symbol by the Google DNS option). Then Google DNS is selected instead of OpenDNS.

[2016-04-05 16:37] PromoFaux commented on #426
![image](https://cloud.githubusercontent.com/assets/1998970/14289920/e56b6f58-fb54-11e5-8dea-63256d94e7a0.png)

This screen? I think I know whats happened. Did you press space bar to select OpenDNS or just press enter?

The `*` indicates which option is selected. We'll improve the wording on that screen in the next release

[2016-04-05 17:33] jacobsalmela commented on #365
@tkahn is this still happening with the latest versions of Pi-hole and the Web interface?

[2016-04-05 18:12] jacobsalmela commented on #377
@PromoFaux was this one fixed with the 2.6.1.1 release?

[2016-04-05 18:15] PromoFaux commented on #377
Yes and no.

The new uninstall script presents the user with an initial choice along the lines of "Do you wish to remove dependencies installed by pihole? (y/n): "

It then goes through each dependency one by one, and again presents the user with a choice, remove, or not remove.

After the dependency section is complete, then all of the scripts etc are removed from the system.

[2016-04-05 18:17] jacobsalmela commented on #377
I wonder if we could loop through the dependencies installed and show a `whiptail` that lets the user pick what is uninstalled (selecting everything by default).

[2016-04-05 18:18] PromoFaux commented on #377
I guess that would be possible!

[2016-04-05 18:19] jacobsalmela commented on #377
I'll work on it.

[2016-04-05 18:20] PromoFaux commented on #377
What's this? @jacobsalmela writing some code?! :stuck_out_tongue_winking_eye:

[2016-04-05 18:21] jacobsalmela commented on #377
Haha I know, right?  It's been a while!

[2016-04-05 19:08] nate-ubiquisoft commented on #377
Any chance we could go away from whiptail to dialog because we can then specify colors, etc.

[2016-04-05 19:49] jacobsalmela commented on #377
I do like the option to change colors.  Does `dialog` have a similar syntax?

Before I started coding this, I realized the script does ask if you want to remove each package, which is what the issue was.  I think the dialogs at this point are just a nice feature to have, but we do ask the user what they want to do, so I will close this issue.

[2016-04-05 19:49] #377 closed

[2016-04-05 21:13] greg5678 commented on #426
I selected OpenDNS but then it said that Google DNS was selected. I pressed enter.

[2016-04-05 21:20] PromoFaux commented on #426
:) So did it work when you selected it with the space bar?

[2016-04-05 23:00] greg5678 commented on #426
It said it selected OpenDNS but when I went to my mac's dns page in system preferences it still said I was using the Google DNS servers. This was after I disconnected and reconnected to my network. The pi is set as the default dns server. There is no other dns server on my router. I went on https://www.opendns.com/welcome/ and it said I wasn't using OpenDNS.

[2016-04-05 23:05] greg5678 commented on #426
Never mind I got it working.

[2016-04-06 01:33] greg5678 commented on #410
I like that idea. The current one is fine for small networked but when you have over 50 devices it gets cluttered together like you said. Please make it happen!

[2016-04-06 01:47] jradwan opened #439 "-h for usage info doesn't work for pihole -w/-b/-c"
The help for pihole script indicates:

`Add -h after -w (whitelist), -b (blacklist), or -c (chronometer)  for more information on usage`

but this doesn't work. The lines for chronometer seem to be missing the "$@" parameter but even after adding that, it doesn't seem to pass the -h on to the script in /opt/pihole.

For example, I used to run '/opt/pihole/chronometer.sh -j' but how would I do that

[2016-04-06 01:51] Mcat12 commented on #410
We will work on this. :)

[2016-04-06 05:13] Righteous commented on #399
If you still need the package list let me know (My arch pc is for work, at work) but I ended up installing a fresh arch install on a extra laptop and got the dependencies setup for spotify. No issues with spotify + Pi-Hole and vice versa. Has to be something specific to OP.

[2016-04-06 08:23] PromoFaux commented on #439
Thanks again @jradwan If I could assign you a tag, it would be "Bug Finder Extraordinaire"

Will push out a fix later on today. Actually interestingly, I never did add in the `-h` tag when I wrote `whitelist.sh` and `blacklist.sh`, so that has never worked!

[2016-04-06 08:44] #439 closed

[2016-04-06 08:48] PromoFaux commented on #439
![image](https://cloud.githubusercontent.com/assets/1998970/14310955/aed1af42-fbdc-11e5-812e-e9a19cd1346e.png)

[2016-04-06 08:51] PromoFaux commented on #426
OK! How did you get it working in the end?

[2016-04-06 13:09] jradwan commented on #439
Thanks for the kind words, @PromoFaux. You guys are doing great work and I'm just trying to help in the tiny way I can. I know getting constant bug reports can be frustrating to a developer. :)

[2016-04-06 13:17] PromoFaux commented on #439
Constant bug reports on a project like this are helpful...

We all have full time jobs, and lives outside of those jobs, so we work on this in what spare time we can afford to spend on it, which means we don't always get to test it as thoroughly as we want. It also means that sometimes silly mistakes will slip by us and make their way onto the release branch, but we're getting better, and I think

[2016-04-06 13:49] jradwan commented on #410
I agree. The dashboard is definitely pretty, and useful, but the Top Clients graph is hard to read in the current setup. Having the bar graph sort like Top Domains/Advertisers would be more useful.

![image](https://cloud.githubusercontent.com/assets/11047158/14318829/a10ce002-fbdc-11e5-9295-7ce6e7c48759.png)

How about a configurable option? :) Low low priority of course, but something to think a

[2016-04-06 13:51] DonLexos opened #442 "Idea - list whitelist / blackist from the command line"
Now that we have a pihole command that will perform things based on input I was checking out the whitelist/blacklist items (to update the FAQ later).

I noticed there is an option to add or remove items from the list, but not to list the items in the list. Could `sudo pihole -w -l` or `sudo pihole -w --list` be added where it will simply display the contents of the black- or whitelist ?

[2016-04-06 13:53] PromoFaux commented on #442
Sure thing! All it needs to be is a simple `cat /etc/pihole/whitelist.txt` (or whatever the location is set as in `pihole.conf`)

[2016-04-06 13:53] DonLexos commented on #410
To add to this, more help would be if you could see the (host/network)name of the client (next to/instead of) his/her ip imho. Not sure if that is possible or not.

[2016-04-06 14:41] luisnogueira opened #443 "Request - Filters List"
Best and professional filters list >>> https://adguard.com/en/filters.html

Can we add them to pi-hole?

[2016-04-06 14:53] PromoFaux commented on #443
Looking through the lists, it appears not. They are formatted for adblock extensions like ublock, adblock plus, or adguard.

In order to include the lists, we need them to be in a [hosts file format](https://en.wikipedia.org/wiki/Hosts_(file))

[2016-04-06 14:56] luisnogueira commented on #443
There must be a way to convert them, and keep only the hosts...

[2016-04-06 14:57] PromoFaux commented on #443
It's certainly up for discussion! Do you have any suggestions?

[2016-04-06 15:26] ToronMega commented on #443
I have the same Idea, but I think you have to filter the whole (data stream).

And the  pi pole "only" respond to DNS request, and blacklisting all site, for exampel all "Social media" ,not all the  «Like» and «Tweet» buttons are comming from the main Social media Server. ;-)

**The prob with "Social media item" is this Site know all about our site visit. :-(**

[2016-04-07 01:17] greg5678 commented on #410
It is but not every device has a human readable host name.

[2016-04-07 01:24] dschaper commented on #410
I now have a ton of Cisco 303 IP phones and their addresses are apparently
a combination of their MAC and some random alpha's. And Cisco uses multiple
OUI's... Yay...

Dan Schaper
On Apr 6, 2016 6:17 PM, "greg5678" <notifications@github.com> wrote:

[2016-04-07 02:44] greg5678 commented on #410
like I said

[2016-04-07 12:15] DonLexos commented on #410
I have no clue how the current web is displayed but if it is all html maybe add the host in the title='host' so you can see it on a hover?

[2016-04-07 12:16] Mcat12 commented on #410
Dnsmasq doesn't log hostnames though. That's the limiting factor.

[2016-04-07 12:18] DonLexos commented on #410
Aaaah well if the information is not available the displaying part would be a bit of a challenge ofcourse ;-)

[2016-04-07 13:17] mattmill98 opened #445 "Top Clients"
I have set my DNS servers on my router to point Pi-Hole but this means that all clients show as the router / my public ip. I would rather to have it show the individual devices IP (PC's, Phones, etc). Is there anyway to do this?
![capture](https://cloud.githubusercontent.com/assets/10357263/14352253/7d503b1a-fccb-11e5-8771-de566a33634f.PNG)

[2016-04-07 15:48] nagubal opened #446 "After update to 2.6.1.2, /etc/crontab still list "old" commands"
Hello,
I have been using the Pi-Hole for a few months with great success (many thanks!).

Today, I noticed that the /etc/crontab still lists the "old" commands:

[code]
Of course the `/usr/local/bin/piholeLogFlush.sh` command fails because the file does not exist anymore.

I also have the new `/etc/cron.d/pihole` file which has the new commands.

I suppose it is safe to remove the "old" commands f

[2016-04-07 15:52] Mcat12 commented on #446
I think this was fixed with a quick update. Can you update and check? `curl -L https://install.pi-hole.net | bash`

[2016-04-07 16:07] nagubal commented on #446
Hi, I just re-updated with `curl -L https://install.pi-hole.net | bash` but the `/etc/crontab`is still the same.
No much of an issue, I can clean up the /etc/crontab by myself...

[2016-04-07 16:24] Mcat12 commented on #446
Oh, we install the cron to `/etc/cron.d/pihole`

[2016-04-07 17:24] PromoFaux commented on #446
What is it that populates crontab?

[2016-04-07 17:25] PromoFaux commented on #446
But yes,  more than safe to remove. The jobs in the `cron.d` directory run

[2016-04-07 17:36] nagubal commented on #446
It must from a previous PI-Hole install: the last modified date was January 3rd (pi-hole version 2.2 I guess).
I removed the old jobs.
Thanks.

[2016-04-07 17:36] #446 closed

[2016-04-08 00:16] 7h3ju57 commented on #445
Mine works as you would like it. How long have you allowed for devices to refresh etc.. I recall when i first implemented my pi-hole i had the same issue your describing, all my devices were showing up as my router. After about an hour things settled down and all ip's subscribed to pi-hole dns show up properly.

[2016-04-08 03:31] gh0stshell opened #448 "New Hardware Successful Test"
Tested pi-hold on the ODROID-C2 without issue on debian and ubunutu

Super fast! Network is much better due to the hardware design having network on its own bus instead of like the PI's where the USB and network are on the same bus and also that the network is a gig instead of the pi 100.

[2016-04-08 06:54] DonLexos commented on #445
Maybe a simple router reboot works, since all DHCP clients will get a new IP and dnsmasq will (or should) log their requests from their respective IPs?

[2016-04-08 07:32] Drjeffreyodweyer commented on #409
I got the exact same problem :( I updated two days ago (4/8/16) and today it happened again. Please help, I love my pi hole :)

[2016-04-08 08:07] PromoFaux commented on #409
Hmmm. This is a strange one.

If you're all on the latest version, could you please run `pihole -d` and then paste the output (`/var/log/pihole_debug.log`) into a pastebin then link it here? thanks!

[2016-04-08 08:10] PromoFaux commented on #445
@mattmill98 What type of router do you have?

I've seen some cases where the wrong DNS setting is changed (or simply, the right DNS settings cannot be changed depending on the router) I _think_ the setting you're looking for is to set the WAN DNS, and not the DHCP. But I might be wrong there!

[2016-04-08 15:30] mattmill98 commented on #445
I've tried a reboot and no joy.
@PromoFaux I have the HG635 from talktalk.

[2016-04-08 15:34] PromoFaux commented on #445
Take a look at [this thread](http://community.talktalk.co.uk/t5/Superpowered-Fibre-Broadband/HG635-keeps-losing-manual-DNS-settings/td-p/1495487) might be some useful information in there for you!

[2016-04-08 15:50] mattmill98 commented on #445
I've filled in the DNS setting to point at the RP in the fields that it says on the talktalk forum and still no joy.

[2016-04-08 15:57] Mcat12 commented on #445
Try flushing the log (`pihole -f`) and check after half an hour or so.

[2016-04-08 16:45] mattmill98 commented on #445
I ran that command and now all it shows is my public ip and no data, i ran the command about an hour ago
![capture](https://cloud.githubusercontent.com/assets/10357263/14391022/abbdf366-fdb1-11e5-9df7-92ad72204a11.PNG)

[2016-04-08 19:06] richardhughes260 opened #449 "Pause button please? [$40]"
##### Feature Request:

Can you install a pause button?

Some sites I go to sense the ad blocker and do not render the content.

<bountysource-plugin>
---
There is a **[$40 open bounty](https://www.bountysource.com/issues/32758981-pause-button-please?utm_campaign=plugin&utm_content=tracker%2F3011939&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://w

[2016-04-08 19:16] PromoFaux commented on #449
Check out [this answer](https://github.com/pi-hole/pi-hole/wiki/FAQs#some-sites-are-detecting-ad-blocker-348) in the FAQ for a workaround!

We are looking at adding functionality like a disable button/ability to control scripts from web UI, but in the mean time, that work around should fix things....

[2016-04-10 02:49] rj45jack commented on #409
Just happened again: http://i.imgur.com/MpJ0gsB.png

` cat /var/log/pihole_debug.log
IP Addresses of this Pi:
192.168.0.18
127.0.0.1

Gateway check:
ok

#######################################
######## Whitelist Comparison #########
#######################################

#######################################
######## Blacklist Comparison #########
#######################################

#####

[2016-04-10 14:31] 0xc0ffea commented on #409
Just happened to me with
http://i.imgur.com/tfpIKjj.png

$ pihole -d
[sudo] password for trinity:
::: You are root... Beginning debug!
::: Writing local IPs to debug log
:::
::: Logging status of lighttpd and dnsmasq...
::: Writing dnsmasq.conf to debug log...
::: Writing 01-pihole.conf to debug log...
::: Writing lighttpd.conf to debug log...
::: Writing size of gravity.list to debug log...
::: W

[2016-04-10 15:27] Mcat12 commented on #409
@rj45jack and @0xc0ffea, can you please copy the log instead to http://pastebin.com and link it? It helps clean up the conversation.

[2016-04-10 15:43] Fedora-Core opened #453 "minor : script pihole - function helpFunc"
##### Expected Behaviour:

echo Usage: pihole [options]
##### Actual Behaviour:

echo Usage: pihole**.sh** [options]
##### Steps to reproduce this issue:

$ pihole -h

Same for script blacklist.sh helpFunc
Same for script whitelist.sh helpFunc
Same for script chronometer.sh displayHelp

_(and whitespaces)_

Greetings, F.C.

[2016-04-10 16:07] articuno1au commented on #409
I've just come across this issue also. I noticed I was being served ads. When I loaded the admin panel, I was shown that there were 3 domains being blacklisted.

I fixed by rerunning the gravity script (pihole -g).

I'm running my Pi-Hole on Debian hosted in a VM, so not exactly a normal setup. I updated from 2.5.3 to 2.6.2, and only encountered the issue a few days after the upgrade process.

I h

[2016-04-10 16:54] Mcat12 commented on #409
O.o It's happening here too, I think...
![Screenshot](http://i.imgur.com/OUFGyVM.png)

[2016-04-10 17:01] Mcat12 commented on #409
It appears that only the hostname of the pi, `pi.hole` (another way to reach the pi... `pi.hole/admin`), and the blacklist are present in the blocklist. So the actual lists and the whitelist do not get added...

[2016-04-10 17:03] Mcat12 commented on #409
After running gravity, it works... Weird.

[2016-04-10 18:26] igrayson opened #454 "Chrome/Safari: `Select a certificate`"
##### Expected Behaviour:
Using Chrome or Safari, load a page that includes ads, and do not encounter a `Select a certificate` dialog.

##### Actual Behaviour:
I see a `Select a certificate` dialog.

##### Steps to reproduce this issue:
0. Likely some unusual local certificate setup on my laptop. (for example, I have a client certificates installed, for work).
1. Open a Chrome privacy window (opti

[2016-04-10 18:32] ShoGinn opened #455 "Linux Container adapter selection"
##### Expected Behaviour:
Select ethernet adapters that dnsmasq works with

##### Actual Behaviour:
Setup a linux container that is running debian/ubuntu etc and run the automated installer, it will find the link as eth0@if13 etc.

End up having to manually edit the dnsmasq file to remove the @if13 so that dnsmasq listens on the correct interface

##### Steps to reproduce this issue:

[code]

[2016-04-10 20:04] PromoFaux commented on #409
OK, so it sounds like this may be down to permissions. I thought the cron job ran as root, though?

[2016-04-10 20:21] PromoFaux commented on #453
Fixed in `development` branch, for future release.

[2016-04-10 20:21] #453 closed

[2016-04-11 00:32] ShoGinn commented on #455
FYI, this is on a proxmox LXC...

[2016-04-11 00:35] meaverick commented on #403
i am so sorry to delay.i upload log file.i updated to new version and run

[pihole_debug.log.txt](https://github.com/pi-hole/pi-hole/files/212098/pihole_debug.log.txt)

[2016-04-11 00:49] ShoGinn commented on #455
I might not be the best at bash scripts, but:

Change:
''
availableInterfaces=$(ip -o link | awk '{print $2}' | grep -v "lo" | cut -d':' -f1)
''

to
''
availableInterfaces=$(ip -o link | awk '{print $2}' | grep -v "lo" | cut -d':' -f1 | cut -d'@' -f1)
''

And that removes the problem.

[2016-04-11 02:26] zimmertr commented on #399
Sorry for the huge delay in my response. I silenced the email when I received it because I was busy and then completely forgot. Here is the output: http://pastebin.com/yJ99EuZG

Also, today I noticed that my Pi-Hole is completely broken as well. A friend was visiting and tried to use it and couldn't resolve any pages. I then realized that all of my devices were relying on my secondary dns, 8.8.8.8

[2016-04-11 03:12] TheOneWho opened #458 "Requests are not being sent to PiHole when set via router settings"
##### Expected Behaviour: PiHole handle requests

##### Actual Behavior: Google DNS is handling requests

When I set my DNS servers in Windows PiHole works great, but when set through my router's settings it does not use PiHole.

My Router is a WNDR3700 by Netgear

[Router Settings](http://i.imgur.com/r76daPl.png)

[Example](http://i.imgur.com/FlusNSG.png)

[Ipconfig on the Windows machine](http:/

[2016-04-11 04:34] SteveW25561 commented on #409
Same issue here: suddenly down to 3 domains being blocked.  I re-ran the full installer before seeing this thread.  I was (and am a still) on v2.6.1.2

[2016-04-11 05:14] TechnicallyFox commented on #409
I just started getting this problem after upgrading from 2.5.3 and confirmed it on two other devices. Runs fine for couple days then down to 3 or 4 blocked domains until gravity is run.

[2016-04-11 06:54] PromoFaux commented on #399
Thanks @zimmertr .

@Righteous Could you paste in the package list from your arch machine that spotify works on, please?

@zimmertr Could you run `pihole -d` and paste the contents of `/var/log/pihole_debug.log`. Thanks!

[2016-04-11 06:56] PromoFaux commented on #458
Hmm, I'm not familiar with that router, but that looks about right. What happens if you manually set your windows machine to have the pi as DNS?

[2016-04-11 06:59] PromoFaux commented on #409
Right, I think we can definitely put this down to the `cron` job, as it seems to have happened at the same(ish) time for everyone. (The [`cron` job](https://github.com/pi-hole/pi-hole/blob/master/advanced/pihole.cron#L12-L14) is set to run at 01:59 every Sunday)

Interestingly, this hasn't happened on my setup, but I'm not using a raspberry pi............

[2016-04-11 07:07] TheOneWho commented on #458
When I set Windows to use the Pi as DNS it works perfectly

[2016-04-11 07:10] PromoFaux commented on #458
Hmm, OK that rules out the pi not working!

Looks like this could be down to your router. Are there any other settings for DNS in the menu?

[2016-04-11 07:12] PromoFaux commented on #458
Also worth nothing that once you've changed the DNS settings on your router, you'll need to reboot your windows PC (Or renew it's DHCP settings by running `ipconfig /renew`)

But from your screenshot, it looks like [you've set it up right](http://m.setuprouter.com/router/netgear/wndr3700/dns.htm)

[2016-04-11 07:22] TheOneWho commented on #458
I have restarted my computer since changing the dns settings in the router. I have not managed to find any other DNS related options on the routers config.

[2016-04-11 07:27] PromoFaux commented on #458
Could you paste a full screenshot of that router settings page, please?

[2016-04-11 07:31] TheOneWho commented on #458
[Sure!](http://i.imgur.com/50cg6YI.png)

[2016-04-11 07:40] PromoFaux commented on #458
OK, and under the "Advanced" section, a screenshot of `WAN setup` and `LAN setup` pages, please.

[2016-04-11 07:41] TheOneWho commented on #458
[WAN](http://i.imgur.com/7uPUwZy.png)
[LAN](http://i.imgur.com/DssZBFO.png)

[2016-04-11 07:49] PromoFaux commented on #458
ha, nothing of interest there.

I wonder, are there any settings anywhere for disabling "DNS Rebind protection"? We've seen issues before with some routers that don't allow routing DNS to a local address. Some have a setting you can switch off to enable that, some don't! You may have better luck flashing the router with `dd-wrt`, depending on your confidence level when it comes to flashing alterna

[2016-04-11 08:14] TheOneWho commented on #458
I was actually just looking at DD-WRT. Would flashing my routers firmware with dd-wrt have a good chance of helping with this issue? I couldn't find anything that looked like Rebind protection in the settings.

[2016-04-11 08:37] DonLexos commented on #409
Had the same issue, quick fis ix running `pihole -g` (gravity list update)

[2016-04-11 09:00] PromoFaux commented on #409
Permissions after running `pihole -g`
![image](https://cloud.githubusercontent.com/assets/1998970/14421606/78951a3a-ffca-11e5-8caa-40d4585b1cad.png)

Permissions after cron runs the same command:
![image](https://cloud.githubusercontent.com/assets/1998970/14421958/2bf29a34-ffcc-11e5-83d5-b258bc325fc2.png)

Now to find the bit that is removing write permissions from `gravity.list`... I think that m

[2016-04-11 09:09] articuno1au commented on #409
Out of curiosity, how did you run the cron script?

I haven't been able to replicate. After running the cron script I'm still seeing:
![image](https://cloud.githubusercontent.com/assets/18381114/14422222/df4f43ce-0018-11e6-9073-5895bf415ff1.png)

[2016-04-11 09:12] PromoFaux commented on #409
I cheated, I set it to run every minute and rebooted the machine!

![image](https://cloud.githubusercontent.com/assets/1998970/14422281/ed2eb952-ffcd-11e5-9cdc-cb0e6740499d.png)

[2016-04-11 09:19] articuno1au commented on #409
Hax. Will follow you down the rabbit hole to see if I can replicate.

Well that's interesting. Note the file size of the gravity list and the permissions:
![image](https://cloud.githubusercontent.com/assets/18381114/14422416/122a731c-001a-11e6-8537-fda2dc6ab181.png)
Then 30 seconds later (before the cron script re-executes)
![image](https://cloud.githubusercontent.com/assets/18381114/14422464/4668

[2016-04-11 09:25] PromoFaux commented on #409
So the way gravity works is like so:

- Download/update source lists from various locations
- Parse them all into a single file
- Process that file several times to remove comments/sort the domains out etc
- Copy the final file (`pihole.3.accretionDisc.txt`) over the top of `gravity.list` _(I think this might be where it's going wrong. I might be wrong though)_
- Clear up un-used `pihole.n.*` file

[2016-04-11 09:27] articuno1au commented on #409
Trying that SS again:
![image](https://cloud.githubusercontent.com/assets/18381114/14422705/75949670-001b-11e6-84ef-c05bc4de2d4d.png)

[2016-04-11 09:28] PromoFaux commented on #409
I had not thought to tail `gravity.list`! Yeah, as per my previous post, It get's overwritten when gravity runs.

[2016-04-11 09:38] articuno1au commented on #409
I'm getting realllly weird outputs from tails now.

I've just fixed everything on my end. If you need more testing or anything, please give me a shout. In the meantime, food :)

[2016-04-11 09:41] PromoFaux commented on #409
It's strange, according to `mail`, the cron job is getting different numbers of domains on each run of `pihole -g`

I have some stuff at my actual job to be getting on with, but I will give it some thought and let you know if I need anything! Thanks!

[2016-04-11 10:20] PromoFaux commented on #409
**Update**

Found it! Its the `spinner` function that is causing the issues, weirdly. It's kind of hacked in anyway, so I'll remove it.

[2016-04-11 10:35] PromoFaux commented on #409
@articuno1au Can I borrow you for testing purposes, please?

[code]

Then make the changes to the cron job again as we did earlier and confirm that it's fixed!
Thanks

[2016-04-11 10:53] articuno1au commented on #409
Testing now. Will edit with results.

[2016-04-11 11:07] Mcat12 commented on #399
@zimmertr you will probably have to update Pi-hole to run that command. It outputs a debug log and uses the new command format.

[2016-04-11 11:18] articuno1au commented on #409
Looking good.
![image](https://cloud.githubusercontent.com/assets/18381114/14425465/d2a611a4-002a-11e6-9270-619c52af6579.png)
![image](https://cloud.githubusercontent.com/assets/18381114/14425482/e5153d2e-002a-11e6-8cd9-55349dd4f174.png)
I'd be calling it fixed.

Nice work sir :)

[2016-04-11 11:41] PromoFaux commented on #409
Super, that's good enough for me. Will merge and release! Hold your horses!

(by the way, just `sudo git checkout master` and re-run the install script again to go back to main branch.)

[2016-04-11 11:42] articuno1au commented on #409
Cheers.

I had already done so to save me having to nano into my cron files again. Advanced laziness ;)

[2016-04-11 11:55] PromoFaux commented on #409
OK! Fixed in 2.6.2! Re-run install script to update (next up.. a working update script. #soon)

[2016-04-11 11:55] #409 closed

[2016-04-11 12:15] articuno1au commented on #409
@PromoFaux - Apologies if this re-opens (I'm a bitbucket user).

If you need help testing anything in the future, just mention me and I'll come check it out. I'm in GMT+10, so I should be off work when you're pushing stuff.

[2016-04-11 14:08] jacobsalmela commented on #458
Everyone I have talked to that is running DD-WRT has been able to get it to work.  That's no guarantee of course, but you'll probably have better luck than you are now.

[2016-04-11 14:16] stomp442 commented on #375
It did fix. Sorry for the massive delay responding.

[2016-04-11 14:16] jacobsalmela commented on #375
No problem.  Glad it's working now.

[2016-04-11 14:16] #375 closed

[2016-04-11 14:21] jacobsalmela commented on #408
I just got a Nest and it works fine with Pi-hole.  @recrudesce is it working for you now?

[2016-04-11 15:24] #426 closed

[2016-04-12 00:14] zimmertr commented on #399
I'm not sure what happened. I have a feeling some software broke on my pi or something. It doesn't even have internet connectivity anymore so I can't update it. I'll try and recreate it sometime this week when I have more time available and I'll get back to you ASAP.

[2016-04-12 02:38] TheOneWho commented on #458
I have flashed DD-WRT to my router and everything works fine now.

[2016-04-12 02:44] gawdsed commented on #458
Silly question, but after you set your DHCP to your local IP address, did you re-obtain your DHCP address?

ipconfig -release
ipconfig -renew

then ipconfig /all to see your DNS configurations.

You also shouldn't need to put google's DNS address in there, you should be able to leave it blank.

Another thing, did you reboot the router after? some of them are picky like that.

Lastly, is the firmwa

[2016-04-12 03:04] TheOneWho commented on #458
I restarted the router a few times, and restarted my computer a few times. I did not try to re-obtain my DHCP address but I connected a device to the network that hadn't ever been connect to this particular router and pihole did not receive and dns requests. The firmware on the router was the latest version I could find on the internet. I flashed DD-WRT onto the router today and now the Pi is prop

[2016-04-12 06:58] PromoFaux commented on #458
At a guess I would say that by default the router has DNS rebind protection that can't be switched off. Was it an ISP provided router?

Good to see it working with DD-WRT, however!

[2016-04-12 06:58] #458 closed

[2016-04-12 07:12] TheOneWho commented on #458
No this was not an ISP provided router.

[2016-04-12 13:19] DonLexos opened #462 "Question on custom content filtering"
Due to a recent malware distribution through a big adnetwork that hit quite a few well known websites here in The Netherlands I want to ad the pi-hole in a work related situation to block the ad networks. The system seems very solid, I have been using it for months at home. It would be just dns1 so if it would fail we would fall back to a (normal) public DNS.

Now, when I do add a pi to the networ

[2016-04-12 13:19] DonLexos commented on #442
This was added ! :+1:

Closing this ;-)

[2016-04-12 13:19] #442 closed

[2016-04-12 13:28] PromoFaux commented on #462
Take a look at the custom source list [wiki page](https://github.com/pi-hole/pi-hole/wiki/Customising-sources-for-ad-lists).

Essentially all you need to do is host a list of domains, and add the URL of that list to `adlist.list` (after copying `adlist.default` to `adlist.list`)

[2016-04-12 13:31] DonLexos commented on #462
Oh there is a wiki page for it? Duh ,,,.. Ok thank you for pointing that out, you would imagine I would be able to locate that myself... Will take a peak there!

[2016-04-12 13:31] #462 closed

[2016-04-12 16:11] Mcat12 commented on #53
Sounds like it could be possible.

[2016-04-12 16:35] Mcat12 commented on #98
The hardest part with `update.pi-hole.net` is that we would have to handle every version case, especially if we change locations of files or add new ones. @PromoFaux suggested bundling an update script with pi-hole, which would do some update prep and then download a new updater that would finish the job. I'm thinking that the first one could get it to a stable state (all files are either deleted

[2016-04-12 19:45] nate-ubiquisoft commented on #98
I think we also need a purge script to remove any Pi-Hole specific files, even from old installations. Something using `mlocate` would work well but I think it would require a lot of user prompts (one for each deletion) to ensure that we dont "purge" anything that we shouldnt

[2016-04-12 23:20] Mcat12 commented on #98
As long as we keep track of what files we create, we shouldn't have a problem of not deleting our files.

[2016-04-13 00:00] Zer0t3ch opened #463 "'sudo' detection in gravity.sh"
##### Expected Behaviour:
`gravity.sh` should correctly detect whether or not `sudo` is installed on all/most distributions

##### Actual Behaviour:
`gravity.sh` can only detect if it's installed on Debian-based distribution

##### Steps to reproduce this issue:
Run `gravity.sh` on a non-Debian-based distro (like Arch)

##### Possible solution
Change line 22 to something like this:

    if [[ -x /

[2016-04-13 14:47] PromoFaux commented on #463
I'm inclined to disagree. Have you tried running the install script on a non-debian based distro? From the [readme](https://github.com/pi-hole/pi-hole/blob/master/README.md) of this repo:

![image](https://cloud.githubusercontent.com/assets/1998970/14497060/71aee074-018d-11e6-8e56-e6280a77f105.png)

As it stands, it's not designed to be run on Arch/anything else (although there is a [port  on AUR]

[2016-04-13 19:40] Windyo opened #465 "Error 500 on api.php?getAllQueries"
##### Expected Behaviour:
api.php?getAllQueries should return a list of all queries

##### Actual Behaviour:
an error 500 is thrown.
the other calls to api.php actually work.

##### Steps to reproduce this issue:
go to admin
go to "all queries"
an AJAX error is thrown.

Try to go to /api.php?getAllQueries
an error 500 is returned.

Mahalaka list used, but the other parts of the web interface work

[2016-04-13 19:49] CDeeRON commented on #465
Works fine for me..check the size of your log file.

2.6.2 1.1.7

[2016-04-13 19:50] 7h3ju57 commented on #465
was an issue with php, since the mahalaka list is huge. its been fixed in newer versions.

time to update :)

[2016-04-13 20:10] Windyo commented on #465
@7h3ju57 Duly noted, updating :)

[2016-04-13 20:24] Windyo commented on #465
Update done, error stays exactly the same.
Pi-hole Version v2.6.2 Web Interface Version v1.1.7

[2016-04-13 20:26] 7h3ju57 commented on #465
Only other thing i can think of is increase the php memory limit and
restart lighttpd service.

On Wed, Apr 13, 2016, 4:24 PM G <notifications@github.com> wrote:

[2016-04-13 20:30] CDeeRON commented on #465
what is the size of your pihole.log?
-rw-r--r-- 1 dnsmasq root 11M Apr 13 16:29 /var/log/pihole.log

[2016-04-13 20:32] Windyo commented on #465
@CDeeRON 492463.
@7h3ju57 noob questsion, but where ? There doesn't seem to be a memory_limit line in lighttpd.conf

[2016-04-13 20:34] CDeeRON commented on #465
/etc/php5/*/php.ini

[2016-04-13 20:37] CDeeRON commented on #465
curious perform `pihole -f` then try to reproduce issue

[2016-04-13 20:40] Windyo commented on #465
@CDeeRON ran the command.
Admin console now displays 0 queries today.
Error is still present.

[2016-04-13 20:45] 7h3ju57 commented on #465
Did you find php.ini?

You can try "whereis php"  also

[2016-04-13 20:48] Windyo commented on #465
Set the available memory to 256 in /cgi/php.ini from 128, and to 256 in /cli/php.ini from -1.

Error still present. :(

[2016-04-13 20:51] Windyo commented on #465
Running apt-get update && apt-get upgrade. We'll see if that solves anything.

[2016-04-13 20:51] 7h3ju57 commented on #465
I'm going to say wasnt the right location,  should be under /etc/php...

On Wed, Apr 13, 2016, 4:49 PM G <notifications@github.com> wrote:

[2016-04-13 20:53] Windyo commented on #465
full path was /etc/php5/cli/php.ini  and /etc/php5/cgi/php.ini

[2016-04-13 20:55] CDeeRON commented on #465
i receive the errors below when using the api
`Apr 13 16:52:23 dnsmasq[13808]: bad name at /etc/pihole/gravity.list line 373216
Apr 13 16:52:33 dnsmasq[13808]: bad name at /etc/pihole/gravity.list line 617001
Apr 13 16:52:33 dnsmasq[13808]: bad name at /etc/pihole/gravity.list line 617002
Apr 13 16:52:33 dnsmasq[13808]: bad name at /etc/pihole/gravity.list line 617011
Apr 13 16:52:33 dnsmasq[13808

[2016-04-13 20:57] CDeeRON commented on #465
when i remove the Mahalaka list and run gravity the API becomes functional and no errors in log

[2016-04-13 20:59] Windyo commented on #465
I just realized that /etc/pihole/gravity.list is listed as an advertizer whith Mahalaka... Maybe that's the source of the problem ?

Let me take a look.

[2016-04-13 22:48] Windyo commented on #465
@CDeeRON could you give me the procedure to generate the log you just did ? I don't find the same messages in /var/log/

[2016-04-13 23:31] Mcat12 commented on #465
The reason localhost and gravity show up as blocked is because they are being loaded off of the pi. All queries redirected to the pi are listed as "blocked" although some are just from normal web interface usage. The php error is most likely coming from memory limits, which can't be easily solved by us, since we are not actually paid to do this, until we switch to using a database. We are looking

[2016-04-14 14:20] mattlward commented on #191
I am having this problem as well... It started after my last upgrade/update and pihole reinstall for an upgrade.  It will run fine for a few hours and then just stops reporting stats.  I have also done an uninstall and reinstall.

[2016-04-15 11:13] Windyo commented on #465
@Mcat12 I am not totally sure it's an out of memory error, seeing as the query log is empty as of writing.

If I can just understand how @CDeeRON generated his log, I'll take a look at it myself and report back. Do you have any idea about that ?

[2016-04-15 11:41] CDeeRON commented on #465
@Windyo Sorry I was away from my computer.  The log from which I reported the errors should be located /var/log/pihole.log.  If you don't see it then try enabling debug for pihole with `pihole -d`.
-d, debug 				Start a debugging session if having trouble

[2016-04-15 11:48] Windyo commented on #465
@CDeeRON no problem at all, it's already cool you're helping me out.

To stop the debug session should I just run the command again ? I'll report back once / if I find anything

[2016-04-15 11:50] CDeeRON commented on #465
I found the entries listed as "bad name" are prefixed with `.` example below.
.blogspot.l.googleusercontent.com

I think it just dumps a log.

[2016-04-15 11:51] Windyo commented on #465
I found multiple entries that had a strange format for the moment :
URLS starting with points, with hypens, with hypen-minus.... I'll try and sanitize it, see what happens.

[2016-04-15 12:58] CDeeRON commented on #465
If the log is flushed daily why do we need the api call `getAllQueries ` vs `dns_queries_today`. They both should show the same right?

[2016-04-15 14:01] Windyo commented on #465
@CDeeRON my log is empty after running it and trying to access the api. I'll try to dig more later on.

[2016-04-15 14:06] 7h3ju57 commented on #465
have you checked the lighttpd log?

[2016-04-15 14:36] CDeeRON commented on #465
@7h3ju57 see error below
`2016-04-15 10:35:18: (mod_fastcgi.c.2562) unexpected end-of-file (perhaps the fastcgi process died): pid: 2982 socket: unix:/var/run/lighttpd/php.socket-0
2016-04-15 10:35:18: (mod_fastcgi.c.3346) response not received, request sent: 868 on socket: unix:/var/run/lighttpd/php.socket-0 for /admin/api.php?getAllQueries&_=1460730938591, closing connection `

[2016-04-15 14:51] CDeeRON commented on #465
Try this
in file `/var/www/html/admin/data.php`

comment out the following lines like have below

`//        $fileName = '/etc/pihole/gravity.list';
//        //Turn gravity.list into an array
//        $lines = explode("\n", file_get_contents($fileName));

        //Create a new array and set domain name as index instead of value, with value as 1
//        foreach(array_values($lines) as $v){
//

[2016-04-15 14:53] CDeeRON commented on #465
Also increase memory for php in file `etc/php5/cgi/php.ini`
`memory_limit = 256M`

[2016-04-15 14:54] CDeeRON commented on #465
I can't reproduce the issue after these changes with a clean install

[2016-04-15 14:55] PromoFaux commented on #465
OK, trying to catch up here. I'm confused @CDeeRON, why are you commenting out that section of `data.php`?

[2016-04-15 14:58] CDeeRON commented on #465
With the Mahalaka list enabled it makes the gravity.list to much for PHP to handle it seems. Also the end result for both the API `admin/api.php?getAllQueries` and url `/admin/queries.php` the function does seem to be needed. Correct me if I'm wrong.

[2016-04-15 15:01] PromoFaux commented on #465
That section of the code is to match domains on the queries page with `gravity.list` so that we can display the status (`pi-holed` or `ok`)

I'm wondering if over a million domains is too much to load into an array....

[2016-04-15 15:03] CDeeRON commented on #465
Maybe that info could be added the the query log? To prevent from having to pull from both files?

[2016-04-15 15:38] PromoFaux commented on #465
`/var/log/pihole.log` is just an output of `dnsmasq`, and it logs them in quite an annoying way for parsing:

[code]

So the top query is blocked, and the second is forwarded onto google.

I guess maybe (not tried this as I'm at work) we could change the logic up when reading in the log to say something like (warning... pseudo-code ahead!):

[code]

[2016-04-15 16:08] Windyo commented on #465
@CDeeRON confirmed working after commenting out the lines.

Also refreshed the hosts file to integrate the "bad domains" I removed before : still works. Seems "bad domains" weren't an issue after all.

I'll give the pihole a spin this week-end and see if anything deviates from normal behavior.

[2016-04-15 16:12] Windyo commented on #465
Quick testing seems to indicate that while addresses are being pi-holed, they are no longer displaying as such in the queries.php view., as predicted by @PromoFaux. I would rather that than an error, so I'll keep it that way :)

Thanks to everyone involved, I'll continue digging and see if I can find a solution to the underlying cause.

[2016-04-15 17:56] PromoFaux commented on #465
I've just sat down at home with a beer and my [favourite editor](http://www.ultraedit.com/products/uestudio.html)... so I'll have a bash at translating that pseudo-code above to something that actually works!

[2016-04-15 17:57] PromoFaux commented on #465
I'm going to move this issue over to the AdminLTE repo for easier tracking, as it's an issue with the PHP and not the bash scripts!

[2016-04-15 17:57] #465 closed

[2016-04-16 09:33] PromoFaux opened #466 "gravity.sh not reloading dnsmasq"
from @PombeirP on [gitter](https://gitter.im/pi-hole/pi-hole)

gravity.sh:
`$SUDO kill -HUP "$dnsmasqPid"`
syntax for my box:
`$SUDO kill -s HUP "$dnsmasqPid"`

[2016-04-16 09:35] PromoFaux commented on #466
@pi-hole/gravity - from reading the `man` page of `kill`, it seems we'd be safe to add the `-s` switch (tested on my server and my pi3)

 Can someone test the the command `sudo kill -s HUP $(pidof dnsmasq)` on other flavours of linux?

[2016-04-16 09:44] #373 closed

[2016-04-16 11:33] CDeeRON commented on #466
CMD did not work on CHIP `Linux chip 4.3.0 #10 SMP Sat Nov 14`

[2016-04-16 11:50] PromoFaux commented on #466
Thanks @CDeeRON!

Actually, forgot to update... started working for @PombeirP in the end!

[2016-04-16 11:50] #466 closed

[2016-04-16 14:37] PromoFaux commented on #466
@CDeeRON can you try `sudo killall -s HUP dnsmasq` on your CHIP, please?

[2016-04-16 14:38] CDeeRON commented on #466
`root@chip:/var/www/html/admin# pgrep dnsmasq
8278
root@chip:/var/www/html/admin# sudo killall -s HUP dnsmasq
root@chip:/var/www/html/admin# pgrep dnsmasq
8278
`

[2016-04-16 14:39] PromoFaux commented on #466
OK, that's promising. Can you `tail -f /var/log/pihole.log | grep read` and run the killall command again please.

[2016-04-16 14:42] CDeeRON commented on #466
`
Apr 16 10:41:01 dnsmasq[8278]: read /etc/pihole/gravity.list - 2338440 addresses
Apr 16 10:41:05 dnsmasq[8278]: read /etc/hosts - 6 addresses
`

[2016-04-16 14:43] PromoFaux commented on #466
(Friendly hint, use 3* ` when pasting in a block of code - then i don't have to keep editing your posts :P)

And yes, great! That was what I was hoping to see!

[2016-04-16 14:52] CDeeRON commented on #466
haha thanks for the tip

[code]

[2016-04-16 16:01] homeontherocks commented on #365
I had this error as well.  Updated to the new version with same problem.  However, flushing the pihole.log with /usr/local/bin/pihole -f (which flushes the pihole.log file) fixed the problem.  Will report back here if the problem recurs in the future.

[2016-04-16 18:35] zimmertr commented on #399
After my Pi stopped working I decided to install debian in a virtual machine on my ESXi host. From there I installed pi-hole and configured it to be used as my DNS. Spotify is now in working order on all machines.

It appears that the issue was either the raspberry pi itself or a configuration of pi-hole on the device. Because it works fine from the VM.

[2016-04-16 18:35] zimmertr commented on #364
After my Pi stopped working I decided to install debian in a virtual machine on my ESXi host. From there I installed pi-hole and configured it to be used as my DNS. Spotify is now in working order on all machines.

It appears that the issue was either the raspberry pi itself or a configuration of pi-hole on the device. Because it works fine from the VM.

[2016-04-17 04:21] zimmertr commented on #399
Never mind, after a reboot they're not working anymore. They must have have been working because the client wasn't restarted after setting the DNS server.

[2016-04-17 04:21] zimmertr commented on #364
Never mind, after a reboot they're not working anymore. They must have have been working because the client wasn't restarted after setting the DNS server.

[2016-04-18 11:43] DonLexos commented on #292
This is old, but I just installed OpenWRT on my router and due to the built in dnsmasq all queries in the log came from the router instead of the client. I fixed this this way:
Add this info to `/etc/config/dhcp`
[code]
Source: https://wiki.openwrt.org/doc/howto/dhcp.dnsmasq

[2016-04-20 04:53] SteveW25561 commented on #292
That's interesting.  I'm trying to implement this on my DDWRT but even though I'm logged in as root, it won't let me create a file in /etc/config/dhcp -- it responds with a 'read only filesystem' error.  Not sure if DDWRT is different in this regard vs OpenWRT.

I'll see if there's another way to specify DNSMasq options...

[2016-04-20 10:33] DonLexos commented on #292
Not sure, openwrt and dd-wrt are different (user interface wise), however I have a dd-wrt router running aswell and I was able to set the DNS options somewhere in the webinterface without any problems.

[2016-04-20 17:48] Interknet opened #470 "Request - Temperature Monitor to Chronometer.sh"
Could be a good feature to display temperature on their LCD screens.

Here's what I used in the Chronometer.sh

echo "CPU Temp = $(/opt/vc/bin/vcgencmd measure_temp| egrep "[0-9.]{4,}" -o)" "C"

Side note: Surprising how little cpu usage, power, etc PiHole takes. Glad I got it up and running finally.

[2016-04-20 19:16] Mcat12 commented on #470
It would certainly be nice, if someone's curious about their temp.

[2016-04-21 09:14] jim-liu opened #471 "gravity.sh overwrites custom IP settings in gravity.list"
##### Expected Behaviour:
`gravity.sh` should preserve the customized IP (for example, an external IP) if one is in place instead of detecting it.

##### Actual Behaviour:
My pi-hole is on an external network with a private IP. During setup I specified its external IP. If `pihole -g` is run afterward, all the domains in `gravity.list` point to the internal IP (detected in `gravity.sh`), instead of

[2016-04-21 10:31] PromoFaux commented on #471
Ah, yes, this is known. `gravity.sh` currently works out the current IP each time it runs, as opposed to whatever was set up at install time. This is fine for a more basic install, but for setups like yours it is not ideal!

What we should probably be doing i storing the IPv4 and IPv6 addresses at the beginning, and reusing them in gravity.

[2016-04-21 10:37] jim-liu commented on #471
It seems `gravity.sh` will read from `\tmp\piholeIP` (left by the setup script) but then deletes it, which prevents it from being used the next time `gravity.sh` is run.

Also a potentially separated issue: if `gravity.sh` uses the IP from `\tmp\piholeIP`, whitelisted domains will not be removed from `gravity.list`. I can't figure out why.

[2016-04-21 10:41] PromoFaux commented on #471
Hmm, OK, I will try and take a look into this later on when I'm not at work :)

[2016-04-21 12:58] Mcat12 commented on #471
With the change to 0.0.0.0, would this only matter for the hostname and pi.hole? (Assuming they don't get cut because of security... :P )

[2016-04-21 13:04] PromoFaux commented on #471
The 0.0.0.0 thing is only "theory" so far, but yeah, this will no longer be an issue as we wont care what the local IP is if we go down that route.

[2016-04-21 13:55] jim-liu commented on #471
Played with it a bit more after work and came up with a workaround to the two issues I have.

1. `gravity.sh` doesn't preserve IP set during setup

- Comment out line 41 (`rm $piholeIPfile`) so `/tmp/piholeIP` is not deleted after `gravity.sh`.

2. `whitelist.sh` doesn't remove whitelisted IPs from `gravity.list`

- Replace the IP detection mechanism in `whitelist.sh` with the one in `gravity.sh`

[2016-04-21 14:14] Fedora-Core commented on #471
Hi,

gravity.sh will 'source' the file $piholeDir/pihole.conf (if that file exists) after the code that uses the 'IP' utilty.

Tip: place your key/value there.
Warning: watch out for leading/trailing whitespace !

Grtz, F.C.

[2016-04-21 15:13] PromoFaux commented on #471
@jim-liu Could you fork/clone the repo and gather all your changes into a pull request (against the `development` branch, please. Might make it a bit easier to review exactly what you're changing.

(Also, unlrelated, do you keep changing your profile pic or am I going mad?)

[2016-04-21 15:44] jim-liu commented on #471
Just did. I was actually planning to do it, but I never collaborate on Git before and was afraid of f-ing things up.

(I did actually. I have many different avatars all with red hair.)

[2016-04-21 15:47] PromoFaux commented on #471
Don't worry about making mistakes,  just look back through the commit history to see how many times I have messed up over the months...   :)

We are a bit better at vetting pull requests now anyway,  so we can make sure any changes are tested before merging!

(ah, good,  that puts my mind at rest... 🙃)

[2016-04-21 17:33] Bruut8 commented on #364
Back from vacation and reporting in. Pi had been running for 2 months straight, no settings changed since last update.

The spotify issue has resolved itself it seems. The desktop client, web client and mobile client all work as intended.

Thanks for listening!

[2016-04-21 20:31] Interknet opened #473 "CPU Usage with Web Interface."
While the web interface is closed, my Pi's CPU runs at 2.9%.
Now when the interface is open in a browser, it jumps to 100% while loading stats, and I noticed there's 4 PHP scripts running (which may or may not contribute to it loading slowly?)

When everything has loaded, it settles, but some part of the site refreshes stats maybe every minute or so, and CPU usage jumps back to 100% which seems a

[2016-04-21 21:06] manuelgu commented on #473
Are you running the latest versions of bot pi-hole and the web interface? I remember them doing huge performance improvements lately.

[2016-04-21 21:11] Interknet commented on #473
Bot Pi-hole?

Pi-hole Version v2.6.2 Web Interface Version v1.2. Think that's up to date. Could be wrong.

[2016-04-21 21:51] Mcat12 commented on #473
The CPU usage jumps to 100% so that it loads the stats as quick as it can. This is just a normal function of PHP. Also, since we're reading and manually parsing stats from the log, it takes longer than if we were reading from a database (which we want to switch to when we get the time). If you run Pi-hole on a beefier machine than a little Pi, it'll have no problem loading stats quickly. I mean, t

[2016-04-21 22:14] Mcat12 commented on #162
What's the status on this?

[2016-04-21 22:14] Interknet commented on #473
Yeah the Pi is pretty amazing. Hope using a database doesn't take too much work to change to. Hoping to get a Zero to replace my Model B+ and sell it. If ever.

Can't wait to see where Pihole goes. I love it. Customized little things that don't really 'help' me, such as  chronometer with CPU temperature and usage. PiHole has actually helped me learn bash a little more. So thanks for that.

[2016-04-21 22:18] Mcat12 commented on #272
And 0.0.0.0 solves this too

[2016-04-21 22:24] Mcat12 commented on #347
I've converted the OP into a tasklist. Some of them are already/mostly done.

[2016-04-21 22:25] Mcat12 commented on #365
Any updates?

[2016-04-21 22:27] homeontherocks commented on #365
No recurrence at this time.  But in the past, it has taken days-weeks to recur.

[2016-04-21 22:28] Mcat12 commented on #473
:) Right now there's some stuff in the making that will lead to more features ( #444 leads to #469 which leads to more control from the web interface)

[2016-04-21 22:28] #473 closed

[2016-04-21 22:30] Mcat12 commented on #379
This is now a feature, though you have to manually link the IP to hostname (and you'll want them static or reserved IPs).

[2016-04-21 22:30] #379 closed

[2016-04-21 22:33] Mcat12 commented on #381
Is this still a valid issue?

[2016-04-21 22:33] Mcat12 commented on #382
Still an issue?

[2016-04-21 22:34] #398 closed

[2016-04-21 22:35] Mcat12 commented on #399
Closing unless it stops working again...

[2016-04-21 22:35] #399 closed

[2016-04-21 22:38] Mcat12 commented on #401
I think when we get the time (lol, let's be real, no one has time) we're probably ok with changing to Python. It'll help with some structural things and it gets Bash out of the equation. ;)

[2016-04-21 22:39] Mcat12 commented on #404
Is this still an issue?

[2016-04-21 22:39] Mcat12 commented on #410
This is now released, albeit you have to manually link IP addresses to hostnames.

[2016-04-21 22:39] #410 closed

[2016-04-21 22:40] Verpz commented on #347
Nice, should this "Ability to rename clients for even easier recognition." be ticked? Because you can rename clients just not on the dashboard.

[2016-04-21 22:41] Mcat12 commented on #414
@Rahel-A O.o another?

[2016-04-21 22:42] Mcat12 commented on #414
When the whitelisting is added, you should be able to just copy the domain and whitelist it. A whitelist button would be convenient though.

[2016-04-21 22:43] Mcat12 commented on #415
Closing unless anything new comes up...

[2016-04-21 22:43] #415 closed

[2016-04-21 22:44] Mcat12 commented on #438
Is this still an issue?

[2016-04-21 22:48] Mcat12 commented on #443
Closing unless something comes up.

[2016-04-21 22:48] #443 closed

[2016-04-21 22:49] Mcat12 commented on #445
Are you still having this issue? If so, does a reinstall/update help?

[2016-04-21 22:50] Mcat12 commented on #448
Nice to know :)

[2016-04-21 22:50] #448 closed

[2016-04-21 22:52] Mcat12 commented on #454
Is this still an issue? It seems that we missed looking at this one... If it's still not working after an update, can you run `pihole -d` and pastebin the log?

[2016-04-21 22:54] Mcat12 commented on #455
@pi-hole/gravity

If this fix works, you are welcome to put it in a fork and make a pull request. If not, we can implement it on your behalf. :)

[2016-04-21 22:56] #463 closed

[2016-04-21 23:17] Mcat12 commented on #347
Ya. I'm just not sure that the automatic fetching of hostnames is possible, since dnsmasq only logs ip addresses (and unless they're reserved or static, the ip address could change)

[2016-04-21 23:40] colemannugent commented on #382
I haven't had any issues lately, this may be fixed. I have a feeling it had to do with something about the way the whitelists were handled, but I have nothing to prove it.

[2016-04-22 01:05] #382 closed

[2016-04-22 01:41] jacobsalmela commented on #162
It's still a bug, but has not caused issues since the initial report.

[2016-04-22 02:34] jradwan commented on #404
I have not had the problem again since I originally filed the issue, so I guess you can close it!

[2016-04-22 02:45] #404 closed

[2016-04-22 04:51] Poorchop opened #474 "Support for additional hardware/software setups"
I'm just discovering this project and I've done some exploring, but I don't see any steps for installing this manually. I'm interested in running this on other operating systems and on other hardware, and I've seen the links for installing on a VPS, but they still rely on current install script and therefore Debian.

I'm mostly just curious if there are any plans to support other distros or any ot

[2016-04-22 10:59] Mcat12 commented on #474
There's a (probably outdated) walkthrough of setting it up manually lower down the page [here](http://jacobsalmela.com/block-millions-ads-network-wide-with-a-raspberry-pi-hole-2-0/). Also, as long as you install the dependencies manually and your file system isn't too different, most things should work.

[2016-04-22 12:48] DonLexos commented on #347
Might depend on the router you use, I know openWRT has the option to hand out hostnames to local clients (whatever.lan) and you can even set them in the hostfile on the router.

[2016-04-22 15:34] Poorchop commented on #474
Thanks for the link. It actually looks really simple to set up manually. Ideally, I'd like to modify the install script to automate everything as much as possible so that I can share it with others, but maybe I'll deal with that if I can get it working manually first.

On the subject of alternative software, is there any reason that this couldn't work with nginx? I'm not familiar with lighttpd at

[2016-04-22 16:27] Mcat12 commented on #474
It should work with nginx as long as you convert the lighttpd config to nginx (mainly 404 goes to pihole/index.html or pihole/index.js)

[2016-04-23 01:52] Poorchop commented on #474
Thanks for your help. I haven't had time to test yet but hopefully I can get this working in another distro and maybe with nginx. I'll try to document any deviation from the guide that you linked above in case anyone is interested in the future.

[2016-04-23 01:52] #474 closed

[2016-04-23 08:43] mattmill98 commented on #445
I'm still having the issue, I reinstalled and running version 2.6.2

[2016-04-23 12:51] AtomicLaser commented on #445
I also see this issue - I set the DNS server in my dd-wrt router, and PiHole always shows it from 192.168.1.1

[2016-04-23 14:55] Mcat12 commented on #445
DNS rebind is off?

[2016-04-23 15:02] AtomicLaser commented on #445
@Mcat12 Where does one find that setting to check?

[2016-04-23 15:59] Mcat12 commented on #445
I don't know... I don't have a dd-wrt router. D:

[2016-04-23 16:06] 7h3ju57 commented on #445
Go to services-> services, under dnsmasq disable"no dns rebind"

[2016-04-23 16:17] AtomicLaser commented on #445
@7h3ju57 Thanks Justin!  I'll give that a try 👍

[2016-04-23 16:27] 7h3ju57 commented on #445
Np, let us know how it goes!

On Sat, Apr 23, 2016, 12:17 PM AtomicLaser <notifications@github.com> wrote:

[2016-04-23 17:21] xd1936 commented on #365
I'm having this issue as well. I have my server on a 512MB DigitalOcean instance. Several bots with roaming IP addresses like to flood my server with repetitive requests, quickly filling up the log. Bumping up my php.ini to 256M still isn't enough to stop the 500 errors from happening.

[code]

[2016-04-24 08:20] withit commented on #379
How do we use the feature?

[2016-04-24 09:35] PromoFaux commented on #379
@withit  Just add the IP address and desired name to `/etc/hosts` seperated by a tab.

e.g `192.168.1.1    hostname`

[2016-04-24 16:16] mattlward opened #475 "After complete rebuild of pihole pi I have lost the graph for top clients..."
##### Expected Behaviour:
Before the last rebuild I had the graph that showed the distribution between systems... After the reinstall I have a series of bar graphs.  Is there a way to restore the original behavior?  I also show a large number of requests that are attributed to my DD-WRT router (1.1).  It is configure with "No DNS rebind"
##### Actual Behaviour:
![clipboard01](https://cloud.githubu

[2016-04-24 16:31] PromoFaux commented on #475
If you go into the query log page, it will show you the requests that are being attributed to your router, depending on how you're set up, it might be that some devices are configured incorrectly.

As for the changes to the Top clients section, that came in with the last [update](https://github.com/pi-hole/AdminLTE/wiki/Changelog#12---2016-04-16). As well as many performance updates on the page it

[2016-04-24 16:58] DonLexos commented on #445
Had the same issue on OpenWRT, seems the router gave it's own IP (192.168.1.1) as the main DNS to all clients (which in turn makes it the only one in the top client overview in the pi-hole admin). In OpenWRT there is a setting to "actively" push different DNS servers to the clients, you might want to check the DD-WRT docs to see if you need to set it somewhere (probably near the DHCP/DNS settings)

[2016-04-24 19:30] TimoVerbrugghe opened #476 "No more internet access after changing router DNS settings"
Allright, just to be clear: installed pi-hole on a regular ubuntu server, not an actual raspberry pi. But setup is working before I change router DNS settings, so I don't think that this is a factor...
##### Expected Behaviour:

After changing router DNS settings, expecting Pihole to still be operating normally and server still being able to connect to the internet.
##### Actual Behaviour:

When I

[2016-04-24 19:49] berdan opened #477 "js rewrite rule in lighttpd.conf breaks admin page"
##### Expected Behaviour:
Seeing some data in the admin web page.

##### Actual Behaviour:
Page loads, but no data.

##### Steps to reproduce this issue:
Used the guide on https://pi-hole.net/install-the-web-interface-on-an-existing-pi-hole/ to install the admin page, but skipped the part about editing lighttp.conf as it already had adjustments that looked good.

Admin page loads, but no data show

[2016-04-24 20:30] PromoFaux commented on #477
Hmm, this is interesting.

I take it, by the fact that you're following that guide, that you installed everything manually? (We should probably update those pages and/or put a disclaimer right at the top saying they're outdated!!)

I've only ever used the automated install (which also includes the web admin these days) and haven't seen this issue...

Thinking about it, the JS rewrite rule is for 4

[2016-04-24 22:57] Mcat12 commented on #476
Can you run `pihole -d` and pastebin the log?

[2016-04-25 01:22] mattlward commented on #475
Thanks... I will investigate the router attributions more.

[2016-04-25 01:22] #475 closed

[2016-04-25 10:21] fatez opened #478 "Pihole & Windows 10 = No Internet Connection and more"
Hi,

Pihole up and running fine on Raspberry pi, but when i run windows 10 the following happens :
- No internet Connection
- The browser open itself on : http://www.msn.com/it-it/?ocid=wispr

http://imgur.com/JBxpqMr

[2016-04-25 10:24] manuelgu commented on #478
There is a [wiki article](https://github.com/pi-hole/pi-hole/wiki/FAQs#windows-thinks-there-is-no-internet-connection-but-there-is-one-315) about this.

Does this solve your issue?

[2016-04-25 10:35] fatez commented on #478
solved thanks a lot

[2016-04-25 11:29] PromoFaux commented on #478
It's at the top of the FAQs for a reason :)

[2016-04-25 11:34] fatez commented on #478
I did not see it :(

last problem : installed linux-dash before pihole and it work well but after pihole i see only a white page.

[2016-04-25 12:05] berdan commented on #477
Yes, I did a manual install. I couldn't easily find information on where to locate the admin interface, so I googled for a guide and found that outdated one. Can't the install script point you to the admin interface URL after a successful install?

Revisited my install today and I realized my self installed admin pages were in /var/www/html/**pihole/**admin and not in /var/www/html/admin.

Did a r

[2016-04-25 13:08] TimoVer commented on #476
My server also has other services running on it, this is probably why pihole is hit with many 127.0.0.1 requests. Also, using apache as webserver, no lighttpd, so that's why lighttpd isn't installed. But admin page is showing up fine.

Debug Log when everything is working normally (aka my router DNS settings have google dns as both primary/secondary and I have manually changed DNS settings on my w

[2016-04-25 13:16] PromoFaux commented on #476
I'm not sure if it's causing conflicts or not as I've never actually tried myself...

but you have your `/etc/dnsmasq.conf` setup to have the following two lines in:
[code]

Which is also in `/etc/dnsmasq.d/01-pihole.conf`. You can safely remove (or comment out) those two lines in `/etc/dnsmasq.conf`

[2016-04-25 14:11] manuelgu commented on #478
I haven't looked at linux-dash in detail, but I assume that there is an issue with the ports since (most likely) both listen to :80

[2016-04-25 14:15] PromoFaux commented on #478
Yeah, looks like it defaults to port 80.

Change the linux-dash port to something else, as we need port 80 in order to send return the blank page in place of ads :)

as you're running in PHP mode, are you using apache/lighttpd/nginx to host it?

[2016-04-25 14:39] fatez commented on #478
I only run lighttpd (pihole installation) btw i can't change port in linux-dash
need i to reconfigure lighttpd whit a 81 port for linux-dash?

[2016-04-25 14:50] manuelgu commented on #478
What makes you think that? If you run in PHP mode then there needs to be a configuration for it somewhere, depending on what software you use.

Or any other valid port other than ports that are already occupied.

[2016-04-25 14:50] TimoVer commented on #476
Allright, removed those lines from dnsmasq.conf (were manually added by me just to test if it would resolve the problem, but it didn't ;)).

Normal debug log: http://pastebin.com/0fAVvZA1
Debug log with problems: http://pastebin.com/p5NyFChj

[2016-04-25 14:51] PromoFaux commented on #478
I'm guessing he means in the application itself. But yeah @fatez reconfiguring lighttpd will do it.

[2016-04-25 14:54] PromoFaux commented on #476
what's in your `/etc/resolv.conf`?

[2016-04-25 15:09] TimoVer commented on #476
[code]

Router: DIR-850L
Server is running Ubuntu Server 16.04

I cannot change the DNS settings of my (internal) LAN, only the WAN DNS settings. So screenshots of the LAN DHCP settings: http://s31.postimg.org/wlerbtl6j/lan_settings.png

Screenshot of the WAN DHCP settings: http://s31.postimg.org/mpi9px4sb/wan_settings.png

[2016-04-25 17:58] iggi131 opened #479 "2 domains being blocked after a few weeks of usage"
After fresh new install everything was working fine (default install, no black/white list changes). After a few weeks, ads were not blocked anymore. This happened already twice.

Pi-hole Version v2.6.1.2 Web Interface Version v1.2

/admin/api.php:
{"domains_being_blocked":"2","dns_queries_today":"730","ads_blocked_today":"0","ads_percentage_today":"0.0"}

gravity.list:
192.168.1.16 raspberrypi
fe8

[2016-04-25 18:01] PromoFaux commented on #479
Time for an update... :) We fixed that in [2.6.2](https://github.com/pi-hole/pi-hole/wiki/Changelog#262---2016-04-11)

[2016-04-25 18:02] PromoFaux commented on #479
Basically, `cron` did not like the `spinner` function in `gravity.sh`, so it was falling over.

[2016-04-25 18:56] iggi131 commented on #479
Thanks. Will do the update.

[2016-04-26 14:01] SR-G opened #480 "Can Pihole works with a proxy like polipo ?"
##### Expected Behaviour:

I would like to have the following chain :

client (web) --> using polipo proxy on a local server --> polipo uses  DNS from pihole (on same server) --> google DNS
##### Actual Behaviour:

Everything individually used works fine.
- polipo works fine when used directly with something like google DNS servers (8.8.8.8)
- pihole works fine when used direcly on the client (thr

[2016-04-26 14:22] dschaper commented on #480
Have you been clearing the cache on Polipo between DNS server changes?

[2016-04-26 14:38] SR-G commented on #480
Thanks for the idea, I hadn't initially but i've just made another try
- stop everything
- purge my polipo /cache/ folder
- purge my polipo container and recreate it

But same behavior.

I still see my dns queries in my pihole docker container logs (queried by/through polipo), but nothing works, like if something was weird for polipo when getting back its resolved addresses. No logs / errors in po

[2016-04-26 14:50] dschaper commented on #480
Does your Polipo container have an available shell that you could docker run a dig or nslookup command and see what exactly you re getting back for white and black DNS addresses?

[2016-04-26 14:55] SR-G commented on #480
Yes i can of course enter the polipo container with a bash shell, any idea what to look for ?

I've put polipo in the highest log level (0xFF) but nothing shown about DNS resolution in those logs (excepted when pihole is stopped for ex.).

[2016-04-26 15:03] dschaper commented on #480
Try running a few nslookup runs and see if you are getting back reasonable responses. Try to lookup Google and see if it's a public address and look up a domain that should be blocked and see if it's returning the address of the Pi-hole. It kind of sounds like all responses are coming back as Pi-holed?

[2016-04-26 15:09] SR-G commented on #480
Yep, i just did that.
- putting back pihole as system DNS in resolv.conf
- nslookup on various never-used-before-sites with nslookups : i get the correct result in the container (and i see the request in the pihole admin panel)

So that container with pihole seems to be working as expected.

I've really the feeling that the only not-working thing is "pihole DNS under polipo" : in that situation, t

[2016-04-26 15:17] dschaper commented on #480
Okay, and can I ask what environment you are in? Raspberry or another platform, and what OS and version? And lastly, where did you get the containers and instructions, so I can see if I can duplicate the problem.

[2016-04-26 15:45] SR-G commented on #480
Host : archlinux 64 bit LTS + docker version 1.10.3, build 20f81dd
(running on a regular i686 pc, not a raspberry pi)

pihole container taken from the official image (latest alpine version, re-pulled today).

polipo  installed in a docker container with this Dockerfile (that means, polipo (latest version at this time) is rebuilt from sources) :
[code]

Nothing special about running polipo, just in

[2016-04-26 15:57] dschaper commented on #480
Thanks for the Dockerfiles, I'll spin up an arch environment and see if I can duplicate, may take a little bit of time but hopefully we'll find a resolution for the issue.

[2016-04-26 19:19] edo44 opened #481 "Change the blocking redirection of lighttpd to another folder instead of var/www/html"
I know, I should have just to edit the lighttpd's configuration file to another folder than var/www/html, but doing this prevents me to host a normal webpage.

So I was wondering what should I do to host a webpage (port 80 of course) and at the same time redirect pihole to a custom index.html .

[2016-04-26 19:28] dschaper commented on #481
The way the Pi-hole operates, it basically requires port 80 for operation. You could use a 404 redirect to serve the intercepted elements or use a named server configuration with the Pi-hole as a catch all but those configurations all have glitches. You'd lose 404 support on the website and you'd have some administration issues. It's generally not supported to run Pi-hole along with another site o

[2016-04-27 05:29] dschaper commented on #480
We don't have an official Docker container for the Pi-hole, can you give me a link to the containers hub page and any instructions you used to install? And how did you install Arch, I can't seem to find an LTS image, it's a rolling release OS from my experience. I just want to make sure I'm building an environment that's as close to yours as possible. I'll probably be spinning up the latest tarbal

[2016-04-27 10:21] SR-G commented on #480
About the docker pihole image : thought it was an official one but indeed not. I took the published "diginc/pi-hole" (https://github.com/diginc/docker-pi-hole).

Started with
[code]

About archlinux : it is indeed a rolling release OS, but on the installation step, you can install a LTS kernel (that's what the LTS is about) "pacman -S linux-lts" (https://www.archlinux.org/packages/core/x86_64/linu

[2016-04-27 10:25] dschaper commented on #480
Thanks for the update, I'll take a look at what I can come up with. I didn't know about the LTS kernel for Arch, good to know! I'll keep you updated with what I find.

[2016-04-27 15:18] edo44 opened #482 "Problems with whitelist.txt"
Using the custom lists, I have whitelisted imgur.com, i.imgur.com and p.imgur.com, but I still can't get the site to work without it being redirected to the rPi localhost. To begin with it is strange I can't get into imgur.com in the first place, and second, whenever I make a request to imgur.com I can't even see the request being accepted or rejected on the Recent Queries page of the pihole webpa

[2016-04-27 15:22] PromoFaux commented on #482
Hi there, what custom lists are you using?

Can you please paste output of `pihole -d` to pastebin? Thanks.

Also, how are you whitelisting those sites?

[2016-04-27 15:36] edo44 commented on #482
I whitelist editing /etc/pinhole/whitelist.txt

Waiting for the debug to finish... Is it normal it takes a lot of time in the "try sites that you are having trouble with now..." fase? I don't understand, do I have to do something here?

[2016-04-27 15:40] PromoFaux commented on #482
Ah, You need to press `ctrl + c` to finish off the debug script (I believe it says so...)

Also, editing just that file is not enough. you need to run `pihole -w <domain you want to whitelist>`

[2016-04-27 15:41] edo44 commented on #482
Why is that? What that command does?

[2016-04-27 15:44] PromoFaux commented on #482
Pressing `ctrl + c` on your keyboard will exit the debug script.

`pihole -w` is the command you use to edit the whitelist as seen in the [instructions here](https://github.com/pi-hole/pi-hole/wiki/Whitelisting-and-Blacklisting)

[2016-04-27 15:45] PromoFaux commented on #482
More information on the `pihole` command can be [found here](https://github.com/pi-hole/pi-hole/wiki/The-%22pihole%22-Command)

[2016-04-27 16:00] edo44 commented on #482
`pihole -w imgur.com`
`imgur.com already exists in /etc/pihole/whiteslist.txt, no need to add!`

http://pastebin.com/nf5YfZp7

[2016-04-27 16:12] edo44 commented on #482
I already had the same problem with the custom lists (that you can see in the log file at the end) with yahoo.com, because even if I whitelisted yahoo.com I still couldn't get into the website without being redirected to the pihole page.

[2016-04-27 16:18] dschaper commented on #482
Your custom whitelist has characters that Pi-hole doesn't recognize. It should only contain domain names, no other modifiers. It looks like this was copied from Ad-blocker? Delete your whitelist and try accessing the domains without anything in the whitelist. Then if you are still having problems, run another debug script and post the dump of that.

[2016-04-27 16:40] edo44 commented on #482
I delete them, it didn't change anything

Without modifiers:
http://slexy.org/view/s2Om45hWrJ

Without any entry in whitelist.txt it doesn't change anything too, imgur.com only works if I remove the list with the imgur domains in it.

[2016-04-27 16:48] dschaper commented on #482
Can you post that dump to pastebin? Slexy doesn't show the raw file so I can see the line breaks. There are some issues with lighttpd and dnsmasq also that I see from the dumps. Are you able to open the admin page for the Pi-hole?

[2016-04-27 16:54] edo44 commented on #482
I uploaded it in GitHub Gist, but anyway I found the problem! The problem was in every browser imgur.com was cached and apparently every time I did the request every freaking browser kept on making requests over the cached page. In the end I just had to clear the cache for every browser!

[2016-04-27 16:56] dschaper commented on #482
Glad this solved the issue for you! Thanks for using the Pi-hole.

[2016-04-27 16:56] #482 closed

[2016-04-27 19:12] dschaper commented on #401
Python, nginx, and unbound. Just do it all in one big rewrite so there's no backwards compatibility issues. Would also help with Debinizing, but there's some linter issues there that would need to be addressed.

[2016-04-27 21:26] dschaper commented on #455
It should work, but it would be adding a case check for one specific VMS, that said however a pull request would be good on this.

[2016-04-28 02:33] dschaper commented on #480
Okay, I'm working on a build environment that we can use in the future as a test platform. It may take a bit to do that, so in the meantime I'll spin up a VirtualBox Arch and see if I can find where the problem lies. I'm thinking there may be some inter-container networking issues but I'm not entirely convinced yet...

[2016-04-28 04:28] bitterypaul commented on #477
I installed lighttpd with the configuration you gave on the website. The lighttpd service did not start at all. But when starting with the default config the lighttpd works

[2016-04-28 05:05] dschaper commented on #477
@bitterypaul Can you open a new issue and provide us with some more info like the exact config that doesn't work and the errors that you are getting? Thanks.

[2016-04-28 05:05] #477 closed

[2016-04-28 07:44] fatez commented on #478
So...

I reconfigured lighttpd to run on port 81 like :
$SERVER["socket"] == ":81" {
        server.document-root       = "/var/www/html/linux-dash"
server.error-handler-404        = "/var/www/html/linux-dash"
server.upload-dirs          = ( "/var/cache/lighttpd/uploads" )
server.errorlog             = "/var/log/lighttpd/error.log"
server.pid-file             = "/var/run/lighttpd.pid"
server.usern

[2016-04-28 07:50] bitterypaul opened #483 "default configuration of lighttpd crashes the lighttpd service."
# this is the code i am using. this was copied from [http://jacobsalmela.com/block-millions-ads-network-wide-with-a-raspberry-pi-hole-2-0/](http://jacobsalmela.com/block-millions-ads-network-wide-with-a-raspberry-pi-hole-2-0/)

`
server.modules = (
	"mod_expire",
	"mod_compress",
 	"mod_redirect",
	"mod_rewrite"
)

server.document-root        = "/var/www"
server.upload-dirs          = ( "/var/cach

[2016-04-28 08:02] PromoFaux commented on #477
@berdan Apologies for the lack of reply, got a bit bogged down!

Glad to see it's sorted, and will certainly look into adding that line to the end of the install script.

@bitterypaul If you can, try the automated install method over doing it manually, you're likely to run into less problems!

[2016-04-28 08:06] PromoFaux commented on #483
From the linked blogpost:

You may have better luck with the latest `lighttpd.conf` which can be found [here](https://github.com/pi-hole/pi-hole/blob/master/advanced/lighttpd.conf)

[2016-04-28 09:24] #483 closed

[2016-04-28 09:25] bitterypaul commented on #483
I don't have a working sd card for now to check the config whether it is working or not. Sorry.
I will close this issue for now.

[2016-04-28 09:59] bitterypaul commented on #477
I actually tried out the automated script but didn't work out with the configuration I have. I use my pi connected to an ADSL modem, used as a wifi hotspot. I have troubles  setting up the interface. Without pi-hole everything is normal. but when i run the script, dnsmasq service stops working, things go awry.

[2016-04-28 10:04] dschaper commented on #478
Try updating server.port to 81 and see if that solves your problem with Dash.

[2016-04-28 10:08] fatez commented on #478
sorry for the mistake, but no : does'nt work

[2016-04-28 10:24] dschaper commented on #478
Just for tracking purposes and to help us keep things orderly, can you open a new issue and we'll close out this one. The two issues are unrelated and reusing old, closed issues causes confusion. Closing this issue for now.

[2016-04-28 10:24] #478 closed

[2016-04-28 16:24] kmr2319 commented on #379
@PromoFaux @Mcat12  I'm running latest and have proper /etc/hosts update, but the interface still only shows IPs. Thoughts?

Looks like localhost is showing up, but that's about it...

![screenshot from 2016-04-28 12-22-39](https://cloud.githubusercontent.com/assets/17013046/14893085/f9777c96-0d3b-11e6-95a4-8c96c6138262.png)

[2016-04-28 16:43] Mcat12 commented on #379
Are the IPs and names separated by one tab each?

[2016-04-28 18:22] kmr2319 opened #484 "Admin Interface hostname should parse all whitespace, not just tabs in /etc/hosts"
##### Expected Behaviour:
[Reference](https://github.com/pi-hole/pi-hole/issues/379#issuecomment-215484302)
Admin interface top clients should show hostnames for any host defined in the /etc/hosts file.

##### Actual Behaviour:
Only displays hostnames when the IP and hostname are separated by tabs.

##### Steps to reproduce this issue:
Create /etc/hosts entry with [ip][one or more spaces][hostname

[2016-04-28 18:23] kmr2319 commented on #379
That seems to have been the problem. The one IP that was in the list (*.150) had spaces, not a tab.

Opened #484 to address the fact that it requires a tab. Spaces are proper for the /etc/hosts format.

[2016-04-28 18:24] kmr2319 commented on #379
@Mcat12  PS... Thanks! :smile:

[2016-04-28 19:02] PromoFaux commented on #484
My bad, but easily fixed... I thought the standard was tabs, for some reason... it will be in the next release :)

[2016-04-28 19:17] AtomicLaser commented on #445
Disabling 'No DNS' rebind didn't make a difference, been like that for 5 days and still reporting as coming from the router IP.  Even rebooted the router for luck, to no avail.

No biggie to be honest, but would be nice to see!

[2016-04-28 20:02] #484 closed

[2016-04-28 20:25] PromoFaux commented on #479
@iggi131 Did this fix your issue?

[2016-04-29 14:13] kmr2319 commented on #484
Thanks for the quick turn around!

I generally use tabs, but that one seemed to have some spaces sneak in there for some reason...

[2016-04-29 19:08] iggi131 commented on #479
So far it's working fine. Thanks.

[2016-04-29 19:29] #479 closed

[2016-04-30 01:38] jacobsalmela opened #485 "Add versions to pihole -d debug log"
##### Expected Behaviour:
Show version number in debug log.  This will help the devs debug issues quicker.

##### Actual Behaviour:
Version number not shown

##### Steps to reproduce this issue:
Run `pihole -d`

[2016-04-30 08:39] Debonnys opened #486 "Windows machines open default browser with MSN on startup on Pi-holed networks."
##### Expected Behaviour:
On startup of a windows machine, everything should still be the same as on a none pi-holed network.

##### Actual Behaviour:
On startup the default browser opens with the MSN start page.

##### Problem:
The problem is that www.msftncsi.com is Pi-holed

##### Solution:
Whitelisting www.msftncsi.com solves the problem
This should be whitelisted by default instead of manuall

[2016-04-30 09:04] PromoFaux commented on #485
I already did this Jacob! ;)

[2016-04-30 15:22] Mcat12 commented on #486
While it would be nice to automatically whitelist certain domains, we do not believe that we should be the ones doing so. If we whitelist sites like msftnscd.com then we could also be whitelisting sites that are not so safe. To prove to our users that we are not whitelisting ads because they paid us to (like some ad blockers nowadays are doing) we are not automatically whitelisting domains. We do

[2016-05-02 03:00] mwlpeeters commented on #148
You could also advise users to move the whole partition to an usb drive, see [https://www.raspberrypi.org/forums/viewtopic.php?p=351659#p351659](url) for more information.
I'm running my pi for months like this and it seems very stable. I did some testing with pulling the power and it recovered every time.

[2016-05-02 03:11] dschaper commented on #148
Moving to USB doesn't do the same thing as moving to Read Only. The USB move was beneficial back when writing to SD was iffy at times, to use the technical term. All you're doing us moving the reads and writes from the SD controller and medium to the USB controller and it's medium. The SD corruption problem has long been solved on the Pi and the limited lifetime read write cycles proved sufficient

[2016-05-02 03:19] dschaper commented on #148
Hit wrong button, didn't intend to close out.

[2016-05-02 06:16] bmsecades opened #487 "Job for dnsmasq.service failed. See 'systemctl status dnsmasq.service' and 'journalctl -xn' for details."
Tried restarting dnsmasq.

sudo service dnsmasq start and sudo systemctl start dnsmasq

problem : Job for dnsmasq.service failed. See 'systemctl status dnsmasq.service' and 'journalctl -xn' for details.

[2016-05-02 06:53] bitterypaul commented on #487
did you modify the /etc/dnsmasq.conf file?

[2016-05-02 06:56] bmsecades commented on #487
nope didnt touch anything bro

[2016-05-02 07:02] bitterypaul commented on #487
I had a similar problem. I tried moving contents  of /etc/dnsmasq.d/01-pihole.conf to /etc/dnsmasq.conf and removing the duplicate lines in /etc/dnsmasq.conf and deleting the /etc/dnsmasq.d/01-pihole.conf worked for me

[2016-05-02 07:04] bmsecades commented on #487
maybe ill try to reinstall it by using

sudo apt-get -y install dnsmasq

[2016-05-02 07:04] bmsecades commented on #487
ok thanks bro ill try to look at it

[2016-05-02 07:05] bitterypaul commented on #487
try
apt-get remove --purge dnsmasq
rm -r /etc/dnsmasq.d
rm -r /etc/dnsmasq.conf
then
apt-get install dnsmasq

[2016-05-02 07:56] bitterypaul opened #488 "Ideas for security in pihole admin interface"
using a unique secret key for logging in to the pi-hole interface or using an online or an offline captcha service
The secret key can be defined by the user at the time of installation and the secret key can be stored as a php variable
or a secure method like a random mouse input for 7 seconds to ensure the user's presence
or touch input like utorrent's remote feature does.
or a javscript code to

[2016-05-02 07:57] bitterypaul commented on #487
any update?

[2016-05-02 08:09] bmsecades commented on #487
no luck bro

[2016-05-02 08:12] bitterypaul commented on #487
If you trust me , i will ssh into your pc. I am here to help you
or give me a vnc connection

[2016-05-02 10:08] Zegnat commented on #488
What is this trying to protect against?

You can read my comments in #444 for some ideas to harden security against the main thread: external websites calling to the `pi.hole` domain to execute things.

1. [Use CSRF tokens](https://github.com/pi-hole/pi-hole/pull/444#issuecomment-213407461), [explanation of CSRF tokens](https://github.com/pi-hole/pi-hole/pull/444#issuecomment-213422841).
2. [Use p

[2016-05-02 10:19] PromoFaux commented on #487
@bmsecades please run `pihole -d` and provide the output for us to look at here.

Output will be found at `/var/log/pihole_debug.log`

[2016-05-02 10:47] Mcat12 commented on #488
Those methods might protect against some things, but are very roundabout ways to do security in our situation.

[2016-05-03 01:04] bmsecades commented on #487
IP Addresses of this Pi:
192.168.1.3
127.0.0.1

Gateway check:
ok

#######################################
######## Whitelist Comparison #########
#######################################

#######################################
######## Blacklist Comparison #########
#######################################

#######################################
############ NSLookup Test ############
###########

[2016-05-03 01:06] bmsecades commented on #487
lets just isolate the problem. if not its easy to reinstall it :)

[2016-05-03 01:06] dschaper commented on #487
Thanks for the debug run, because formatting is important with the file, could you put it up on PasteBin and post a link?

[2016-05-03 01:08] dschaper commented on #487
And dnsmasq looks to be running okay per that debug. Can you run ''sudo systemctl status -l dnsmasq' as that will output the full status of dnsmasq and will highlight any errors that would cause it to stop.

[2016-05-03 01:10] dschaper commented on #487
You're also missing an important file, the  01-pihole.conf which passes some flags for the Pi-hole setup.

[2016-05-03 01:18] bmsecades commented on #487
http://pastebin.com/D5mSNmqi

[2016-05-03 01:19] bmsecades commented on #487
● dnsmasq.service - dnsmasq - A lightweight DHCP and caching DNS server
   Loaded: loaded (/lib/systemd/system/dnsmasq.service; enabled)
  Drop-In: /run/systemd/generator/dnsmasq.service.d
           └─50-dnsmasq-$named.conf, 50-insserv.conf-$named.conf
   Active: active (running) since Mon 2016-05-02 08:11:52 UTC; 17h ago
 Main PID: 2734 (dnsmasq)
   CGroup: /system.slice/dnsmasq.service

[2016-05-03 01:21] bmsecades commented on #487
/etc/dnsmasq.d/01-pihole.conf -> i think i dont have it

[2016-05-03 01:25] dschaper commented on #487
Dnsmasq is running, however you have some configuration files missing, and your dnsmasq configuration file that is there has a odd first line that's not part of standard syntax. Looking at the resolving tests, your getting public addresses when dnsmasq is queried and the fist batch of tests should return the IP of your Pi-hole. So the easiest solution would be a reinstall, not sure what would caus

[2016-05-03 01:31] bmsecades commented on #487
yeah bro i tried creating /etc/dnsmasq.d/01-pihole.conf and retarted dnsmasq still no luck same error.

#####################ERROR############################
** Job for dnsmasq.service failed. See 'systemctl status dnsmasq.service' and 'journalctl -xn' for details.**
#####################ERROR############################

[2016-05-03 01:34] dschaper commented on #487
I'm guessing that you have duplicate flags set in 01-pihole.conf that conflict with your other dnsmasq configuration. Try running the ''sudo systemctl status -l dnsmasq' now and see what error is shown.

[2016-05-03 10:35] PromoFaux commented on #487
@bmsecades I think it's probably best to start from scratch. Can you re-run the pihole install script to get all the files back in the right place, then we'll go from there...

looks like @bitterypaul advised you to make some changes to `01-pihole.conf`, which I probably wouldn't have advised.

Please run `curl -L https://install.pi-hole.net | bash` and go through the install process again. (or wi

[2016-05-04 08:03] bmsecades commented on #487
already reinstall pihole now my problem is the web interface.

systemctl status lighttpd -l

● lighttpd.service - Lighttpd Daemon
   Loaded: loaded (/lib/systemd/system/lighttpd.service; enabled)
   Active: active (running) since Wed 2016-05-04 07:52:21 UTC; 7min ago
  Process: 479 ExecStartPre=/usr/sbin/lighttpd -t -f /etc/lighttpd/lighttpd.conf (code=exited, status=0/SUCCESS)
 Main PID: 577 (lig

[2016-05-04 09:27] PromoFaux commented on #487
Looks like it's running OK....

Can you run `pihole -d` again and pastebin the output file please?

[2016-05-04 13:43] msyahmi1998 opened #492 "Setup logstagia in pi hole"
Recently i have been using pi hole for blocking ad and addition i found your video using Logstalgia with pi hole and addition article how to setup but
![untitled](https://cloud.githubusercontent.com/assets/19188069/15015867/cfb2d4b4-1240-11e6-9303-e5b032505d63.png)

i geeting this error
![untitled2](https://cloud.githubusercontent.com/assets/19188069/15015915/17a2f3ee-1241-11e6-93f4-55c0102a07af.p

[2016-05-04 13:44] marclar opened #493 "Does Pi-Hole download the ad networks' ads?"
I'm wondering if Pi-Hole _only_ intercepts requests from the local network, or if it does that AND downloads assets from the remote server, thus suggesting to advertisers that there's no ad-blocking taking place.

[2016-05-04 13:51] PromoFaux commented on #493
Hi there,

I'll try and explain this clearly... but do ask questions if you need to!

Website requests ad from `adcompany.org/images/ad.png`, your computer does a DNS lookup to the pi-hole, which tells your computer that the IP address of  `adcompany.org` is `<yourpiholeIPhere>`, so your computer tries to find `<yourpiholeIPhere>/images/ad.png`, which it can't, so a blank html (404) page sent to y

[2016-05-04 14:29] marclar commented on #493
Got it.

So when I visit Forbes.com without any ad-blocking extensions running (e.g. from Chrome on Android), they're still able to detect that _some_ ad-blocking is happening.

I assume they know because something isn't being requested.

*If* that assumption is correct, this makes me wonder if it would be helpful for the Pi-Hole to still request various ad scripts & assets, but just drop them whe

[2016-05-04 14:41] PromoFaux commented on #493
The Anti-ad-blocker-blocker stuff starts to get a bit recursive, and difficult to keep up with! As we're blocking ads at a DNS level, it makes it pretty much impossible to catch everything.

There is a section in the [FAQs](https://github.com/pi-hole/pi-hole/wiki/FAQs#some-sites-are-detecting-ad-blocker-348) about getting around ad-blocker-blockers on your PC/Mac, at least.

[2016-05-04 14:47] #493 closed

[2016-05-04 14:58] DonLexos commented on #493
.. which will only work until the introduction of the (trick ad-blocker-blockers)-blockers.

[2016-05-04 15:02] DonLexos commented on #492
Is this the thing you are trying to setup? http://logstalgia.io/

[2016-05-04 15:03] marclar commented on #493
I suppose, but it seems to me that, if all devices on your network are hiding behind the same public IP -- and barring communication between legit scripts and ad scripts (to confirm they're being loaded by the same device) -- remote servers wouldn't be able to determine that a given request was being split across multiple devices.

[2016-05-04 15:10] DonLexos commented on #493
Well they can bypass that by trying to do something in your browser using code in a file running at http://their.adnetwork.domain.com/script.js . Even if a device in your network downloaded it, if it is not in your browser/cache that is impossible to trick.

Only pi-hole does is DNS lookups, if it's an ad domain a client will get nothing.

[2016-05-04 15:12] PromoFaux commented on #492
A couple of things.. You're only running half the command (see where yours cuts off at `.../pi-` you need to include the bit below, too, as it's all one line.

Secondly, if you're running the latest version of pi-hole, you wont need to do that step anyway, as the script should already be up to date!

Pinging @jacobsalmela to update his blogpost...  ;)

[2016-05-04 16:35] jacobsalmela commented on #492
updated!

Yep, @msyahmi1998 just do a fresh install and then run this command (use your IP address):

[code]

[2016-05-04 17:22] Fedora-Core commented on #492
Tip:

Read the manpages of the Utility **tailf** and consider its use - or not - instead of **tail -f**

_the Utility **tailf** was developed for files like logfiles_

Extra:

Parameter **--lines 300** will start with the last 300 lines instead of the default 10.

Greetings, F.C.

[2016-05-04 20:08] msyahmi1998 commented on #492
Hi I was  try it and it give me permision denied
![untitled](https://cloud.githubusercontent.com/assets/19188069/15027483/9f5d6c30-1276-11e6-82f1-279b3c34c4fa.png)

Sorry still new with linux
Thank you

[2016-05-04 20:48] PromoFaux commented on #492
Just tried this myself (for the first time ever actually...!)

change your command to:
`ssh pi@192.168.0.111 "sudo tail -f /var/log/lighttpd/access.log" | logstalgia`

[2016-05-04 21:41] PromoFaux commented on #492
Also, depending on the version of Ubuntu you're running, you may have a different version of logstalgia to me. Just discovered this when @Mcat12 couldn't get it to work (Ubuntu 14.04, logstalgia 1.0.3-4), but I could (Ubuntu 16.04, logstalgia 1.0.7-1) Both installed logstalgia with `sudo apt-get install logstalgia`

if you're on the earlier version, and you get issues, try adding  ` -` to the end

[2016-05-04 21:44] Mcat12 commented on #492
The `-` command seems to only work for the latest log entries. It doesn't seem to want to grab the new entries.